.start-learn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 104px;
  padding: 32px;
  min-height: 423px;
  box-sizing: border-box;
  color: var(--color-primary);
  font-size: 17px;
  line-height: 130%;
  text-align: center;
  text-decoration: none;
  border: 1px dashed #878FA4;
  border-radius: 4px;

  &__title {
    margin-bottom: 16px;
    color: var(--color-dark-dark);
    font-weight: 600;
    font-size: 24px;
    line-height: 121%;
  }

  @media (max-width: 1439px) {
    margin-bottom: 80px;
    min-height: 223px;
  }

  @media (max-width: 499px) {
    margin-bottom: 64px;
  }
}
