//- ul.social
li.social__item
  a.social__link(href="https://vk.com/info.clubtraders" target="_blank" aria-label="Вконтакте")
    svg(class="icon social__icon" width="19" height="10")
      use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#vk")

li.social__item
  a.social__link(href="https://www.instagram.com/srebniy/" target="_blank" aria-label="instagram")
    svg(class="icon social__icon" width="19" height="18")
      use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#instagram")

//- li.social__item
//-   a.social__link(href="#" target="_blank" aria-label="Telegram")
//-     svg(class="icon social__icon" width="18" height="14")
//-       use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#tg")

li.social__item
  a.social__link(href="https://www.youtube.com/channel/UC9RZWXY6PxVbW4GXKa5q1Mg" target="_blank" aria-label="YouTube")
    svg(class="icon social__icon" width="21" height="15")
      use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#youtube")
