//- include ../menu-modal/menu-modal
include ../menu-modal/static/menu-modal
include ../offcanvas-menu/offcanvas-menu
include ../recording-course-modal/recording-course-modal
include ../installment-modal/installment-modal
include ../warning-modal/warning-modal
include ../notification-modal/notification-modal
include ../demo-access-modal/demo-access-modal
