section.exem-breadcrumbs
    .container
        a.exem-breadcrumbs__container
            img.exem-breadcrumbs-arrow(src="wp-content/themes/trading/august/img/arrow-back.png")
            .exem-breadcrumbs Вернуться к уроку
