section.exam-module
  .container 
        .exam-module__side-mobile
            h3.exam-module__side-mobile-title Выбор урока
            .select
              select
                  option Обучение платное или бесплатное?
                  option Обучение платное
                  option Или бесплатное?
                  option Обучение платное или бесплатное?
                  option Обучение платное или бесплатное?
                  option Зачем и почему?
                  option Обучение платное
            
        h2.exam-module-title Экзаменационный тест за первый модуль
        .exam-module__blocks
            .exam-module__block
                .exam-module__container
                    h3.exam-module__container-title Пройдите тест, чтобы проверить, насколько хорошо вы усвоили материал данного урока
                      .exam-module__questions-items
                        .exam-module__questions-content
                          .exam-module__questions-item
                            img(src="../../wp-content/themes/trading/august/img/exam-questnum.svg", alt="")
                            p 35
                          .exam-module__questions-text 
                            p Количество вопросов
                        .exam-module__questions-content
                          .exam-module__questions-item
                            img(src="../../wp-content/themes/trading/august/img/exam-answertrue.svg", alt="")
                            p 25
                          .exam-module__questions-text 
                            p Необходимо правильных ответов
                        .exam-module__questions-content
                          .exam-module__questions-item
                            img(src="../../wp-content/themes/trading/august/img/exam-star.svg", alt="")
                            p Легкий
                          .exam-module__questions-text 
                            p Уровень сложности
                        .exam-module__questions-content
                          .exam-module__questions-item
                            img(src="../../wp-content/themes/trading/august/img/exam-award.svg", alt="")
                            p 1489
                          .exam-module__questions-text 
                            p Успешно прошли тест
                    button.btn-primary Начать экзамен
            .exam-module__block
                .exam-module__sidebar
                    h3.exam-module__sidebar-title Другие уроки
                    .exam-module__sidebar__list
                        a.exam-module__sidebar__list-item.exam-module_marker Обучение платное или бесплатное?
                        a.exam-module__sidebar__list-item.exam-module_marker Обучение платное
                        a.exam-module__sidebar__list-item.exam-module_marker Или бесплатное?
                        a.exam-module__sidebar__list-item.exam-module_marker Обучение платное или бесплатное?
                        a.exam-module__sidebar__list-item.exam-module_marker Обучение платное или бесплатное?
                        a.exam-module__sidebar__list-item.exam-module_activated Зачем и почему?
                        a.exam-module__sidebar__list-item Обучение платное
                    button.btn-tab.btn-tab_color_primary.exam-module-button Вернуться назад


