section.payment-history
  .container
    .payment-history__inner
      h2.payment-history__title Подписки

      .payment-history__container.payment-history__container_subscribe
        .payment-history__header
          .payment-history__header-item Дата оформления
          .payment-history__header-item Продукт
          .payment-history__header-item Цена
          .payment-history__header-item Следующий платеж

        .payment-history__body
          .payment-history__item
            .payment-history__item-col.payment-history__item-date 21.05.2021, 23:55
            a.payment-history__item-col.payment-history__item-product(href="#") Аналитика
            .payment-history__item-col.payment-history__item-price 99.00 руб/месяц
            .payment-history__item-col.payment-history__item-price 21.06.21 до 23:00
            a.payment-history__item-col.payment-history__item-open Приостановить
            
          .payment-history__item
            .payment-history__item-col.payment-history__item-date 21.05.2021, 23:55
            a.payment-history__item-col.payment-history__item-product(href="#") Курс инвестиции по-американски
            .payment-history__item-col.payment-history__item-price 5 433.00 руб/месяц
            .payment-history__item-col.payment-history__item-price Осталось: 29 дней
            a.payment-history__item-col.payment-history__item-open Возобновить
            
          .payment-history__item
            .payment-history__item-col.payment-history__item-date 21.05.2021, 23:55
            a.payment-history__item-col.payment-history__item-product(href="#") Мини-курс Опционы
            .payment-history__item-col.payment-history__item-price 99.00 руб/месяц
            .payment-history__item-col.payment-history__item-price 21.06.21 до 23:00
            a.payment-history__item-col.payment-history__item-open Приостановить
            
          .payment-history__item
            .payment-history__item-col.payment-history__item-date 21.05.2021, 23:55
            a.payment-history__item-col.payment-history__item-product(href="#") Мини-курс Опционы
            .payment-history__item-col.payment-history__item-price 99.00 руб/месяц
            .payment-history__item-col.payment-history__item-price 21.06.21 до 23:00
            a.payment-history__item-col.payment-history__item-open Приостановить
            
          .payment-history__item
            .payment-history__item-col.payment-history__item-date 21.05.2021, 23:55
            a.payment-history__item-col.payment-history__item-product(href="#") Мини-курс Опционы
            .payment-history__item-col.payment-history__item-price 99.00 руб/месяц
            .payment-history__item-col.payment-history__item-price 21.06.21 до 23:00
            a.payment-history__item-col.payment-history__item-open Приостановить
            
          .payment-history__item
            .payment-history__item-col.payment-history__item-date 21.05.2021, 23:55
            a.payment-history__item-col.payment-history__item-product(href="#") Мини-курс Опционы
            .payment-history__item-col.payment-history__item-price 99.00 руб/месяц
            .payment-history__item-col.payment-history__item-price 21.06.21 до 23:00
            a.payment-history__item-col.payment-history__item-open Приостановить
            
          .payment-history__item
            .payment-history__item-col.payment-history__item-date 21.05.2021, 23:55
            a.payment-history__item-col.payment-history__item-product(href="#") Мини-курс Опционы
            .payment-history__item-col.payment-history__item-price 99.00 руб/месяц
            .payment-history__item-col.payment-history__item-price 21.06.21 до 23:00
            a.payment-history__item-col.payment-history__item-open Приостановить
            
          .payment-history__item
            .payment-history__item-col.payment-history__item-date 21.05.2021, 23:55
            a.payment-history__item-col.payment-history__item-product(href="#") Мини-курс Опционы
            .payment-history__item-col.payment-history__item-price 99.00 руб/месяц
            .payment-history__item-col.payment-history__item-price 21.06.21 до 23:00
            a.payment-history__item-col.payment-history__item-open Приостановить
            
          .payment-history__item
            .payment-history__item-col.payment-history__item-date 21.05.2021, 23:55
            a.payment-history__item-col.payment-history__item-product(href="#") Мини-курс Опционы
            .payment-history__item-col.payment-history__item-price 99.00 руб/месяц
            .payment-history__item-col.payment-history__item-price 21.06.21 до 23:00
            a.payment-history__item-col.payment-history__item-open Приостановить

      .payment-history__container_mobile
        .payment-history__item
          .payment-history__item-header
            a.payment-history__item-product(href="#") Аналитика
            .payment-history__item-icon
              svg( width="20" height="20")
                use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#lightbulb")
          
          .payment-history__item-date Активна с 21.05.21
          .payment-history__item-date Дата списания: 21.06.21 до 23:00
          .payment-history__item-footer
            a.payment-history__item-open Приостановить
            .payment-history__item-price 99.00 руб/месяц

        .payment-history__item
          .payment-history__item-header
            a.payment-history__item-product(href="#") Аналитика
            .payment-history__item-icon
              svg( width="20" height="20")
                use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#lightbulb")

          .payment-history__item-date Активна с 21.05.21
          .payment-history__item-date Дата списания: 21.06.21 до 23:00
          .payment-history__item-footer
            a.payment-history__item-open Приостановить
            .payment-history__item-price 99.00 руб/месяц

        .payment-history__item
          .payment-history__item-header
            a.payment-history__item-product(href="#") Аналитика
            .payment-history__item-icon
              svg( width="20" height="20")
                use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#lightbulb")

          .payment-history__item-date Активна с 21.05.21
          .payment-history__item-date Дата списания: 21.06.21 до 23:00
          .payment-history__item-footer
            a.payment-history__item-open Приостановить
            .payment-history__item-price 99.00 руб/месяц

        .payment-history__item
          .payment-history__item-header
            a.payment-history__item-product(href="#") Аналитика
            .payment-history__item-icon
              svg( width="20" height="20")
                use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#lightbulb")

          .payment-history__item-date Активна с 21.05.21
          .payment-history__item-date Дата списания: 21.06.21 до 23:00
          .payment-history__item-footer
            a.payment-history__item-open Приостановить
            .payment-history__item-price 99.00 руб/месяц

        .payment-history__item
          .payment-history__item-header
            a.payment-history__item-product(href="#") Аналитика
            .payment-history__item-icon
              svg( width="20" height="20")
                use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#lightbulb")

          .payment-history__item-date Активна с 21.05.21
          .payment-history__item-date Дата списания: 21.06.21 до 23:00
          .payment-history__item-footer
            a.payment-history__item-open Приостановить
            .payment-history__item-price 99.00 руб/месяц

      button.payment-history__show-more.button.btn-outline.btn-outline_color_primary.show-more(
        data-query-items=".payment-history__container_mobile .payment-history__item"
        data-show-items="4"
        data-step="4"
        data-media="(max-width: 1439px)"
      ) Показать еще
