include ../vars
include ../mixin

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content=description)
    title #{title} | Admin
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap" rel="stylesheet")
    link(rel="icon", type="image/png" , href="wp-content/themes/trading/august/img/favicon.png")
    link(rel="stylesheet", href="css/admin.css")
    link(rel="stylesheet", href="css/style.css")
  body.page-admin
    .page-admin__top
      include ../../blocks/sidebar/sidebar

      .page-admin__top-left
        block header
          include ../../blocks/header-admin/header-admin

        main.main
          block content

    block footer
      include ../../blocks/footer-admin/footer

    block modal

    block scripts
