section.reviews
    .container
        h2.reviews-title Отзывы
    .reviews-top
        .reviews__filter
            button(data-filter="all").reviews__filter-item.reviews_active-filter Все отзывы
            button(data-filter="invest").reviews__filter-item Инвестиции
            button(data-filter="trade").reviews__filter-item Трейдинг
            button(data-filter="crupto").reviews__filter-item Криптовалюта
    .container
        .reviews__container
            .reviews__container-item(data-category="invest")
                .reviews__container-item-header
                    img.reviews-photo(src="../wp-content/themes/trading/august/img/user-1.png")
                    .reviews-name Олег Антонов
                    .reviews-date 15 октября 2017.
                .reviews__container-title Отзыв:
                .reviews__container-description Школа биржевой торговли TrendUP основана в 2017 году в Ростове-на-Дону. Мы обучаем торговле по следующим направлениям: инвестции и трейдинг. Мы не являемся брокером или его представителем. Сообщество создано исключительно для общения инвесторов и обучения новичков.
            .reviews__container-item(data-category="trade")
                .reviews__container-item-header
                    img.reviews-photo(src="../wp-content/themes/trading/august/img/user-2.png")
                    .reviews-name Виктор Антонов
                    .reviews-date 18 октября 2017.
                .reviews__container-title Отзыв:
                .reviews__container-description Школа биржевой торговли TrendUP основана в 2017 году в Ростове-на-Дону. Мы обучаем торговле по следующим направлениям: инвестции и трейдинг. Мы не являемся брокером или его представителем. Сообщество создано исключительно для общения инвесторов и обучения новичков.
            .reviews__container-item(data-category="crupto")
                .reviews__container-item-header
                    img.reviews-photo(src="../wp-content/themes/trading/august/img/user-3.png")
                    .reviews-name Кирилл Антонов
                    .reviews-date 22 октября 2017.
                .reviews__container-title Отзыв:
                .reviews__container-description Школа биржевой торговли TrendUP основана в 2017 году в Ростове-на-Дону. Мы обучаем торговле по следующим направлениям: инвестции и трейдинг. Мы не являемся брокером или его представителем. Сообщество создано исключительно для общения инвесторов и обучения новичков.
            .reviews__container-item(data-category="invest")
                .reviews__container-item-header
                    img.reviews-photo(src="../wp-content/themes/trading/august/img/user-1.png")
                    .reviews-name Олег Антонов
                    .reviews-date 15 октября 2017.
                .reviews__container-title Отзыв:
                .reviews__container-description Школа биржевой торговли TrendUP основана в 2017 году в Ростове-на-Дону. Мы обучаем торговле по следующим направлениям: инвестции и трейдинг. Мы не являемся брокером или его представителем. Сообщество создано исключительно для общения инвесторов и обучения новичков.
            .reviews__container-item(data-category="trade")
                .reviews__container-item-header
                    img.reviews-photo(src="../wp-content/themes/trading/august/img/user-2.png")
                    .reviews-name Виктор Антонов
                    .reviews-date 18 октября 2017.
                .reviews__container-title Отзыв:
                .reviews__container-description Школа биржевой торговли TrendUP основана в 2017 году в Ростове-на-Дону. Мы обучаем торговле по следующим направлениям: инвестции и трейдинг. Мы не являемся брокером или его представителем. Сообщество создано исключительно для общения инвесторов и обучения новичков.
            .reviews__container-item(data-category="crupto")
                .reviews__container-item-header
                    img.reviews-photo(src="../wp-content/themes/trading/august/img/user-3.png")
                    .reviews-name Кирилл Антонов
                    .reviews-date 22 октября 2017.
                .reviews__container-title Отзыв:
                .reviews__container-description Школа биржевой торговли TrendUP основана в 2017 году в Ростове-на-Дону. Мы обучаем торговле по следующим направлениям: инвестции и трейдинг. Мы не являемся брокером или его представителем. Сообщество создано исключительно для общения инвесторов и обучения новичков.
            .reviews__container-item(data-category="invest")
                .reviews__container-item-header
                    img.reviews-photo(src="../wp-content/themes/trading/august/img/user-1.png")
                    .reviews-name Олег Антонов
                    .reviews-date 15 октября 2017.
                .reviews__container-title Отзыв:
                .reviews__container-description Школа биржевой торговли TrendUP основана в 2017 году в Ростове-на-Дону. Мы обучаем торговле по следующим направлениям: инвестции и трейдинг. Мы не являемся брокером или его представителем. Сообщество создано исключительно для общения инвесторов и обучения новичков.
            .reviews__container-item(data-category="trade")
                .reviews__container-item-header
                    img.reviews-photo(src="../wp-content/themes/trading/august/img/user-2.png")
                    .reviews-name Виктор Антонов
                    .reviews-date 18 октября 2017.
                .reviews__container-title Отзыв:
                .reviews__container-description Школа биржевой торговли TrendUP основана в 2017 году в Ростове-на-Дону. Мы обучаем торговле по следующим направлениям: инвестции и трейдинг. Мы не являемся брокером или его представителем. Сообщество создано исключительно для общения инвесторов и обучения новичков.
            .reviews__container-item(data-category="crupto")
                .reviews__container-item-header
                    img.reviews-photo(src="../wp-content/themes/trading/august/img/user-3.png")
                    .reviews-name Кирилл Антонов
                    .reviews-date 22 октября 2017.
                .reviews__container-title Отзыв:
                .reviews__container-description Школа биржевой торговли TrendUP основана в 2017 году в Ростове-на-Дону. Мы обучаем торговле по следующим направлениям: инвестции и трейдинг. Мы не являемся брокером или его представителем. Сообщество создано исключительно для общения инвесторов и обучения новичков.
            .reviews__container-item(data-category="invest")
                .reviews__container-item-header
                    img.reviews-photo(src="../wp-content/themes/trading/august/img/user-1.png")
                    .reviews-name Олег Антонов
                    .reviews-date 15 октября 2017.
                .reviews__container-title Отзыв:
                .reviews__container-description Школа биржевой торговли TrendUP основана в 2017 году в Ростове-на-Дону. Мы обучаем торговле по следующим направлениям: инвестции и трейдинг. Мы не являемся брокером или его представителем. Сообщество создано исключительно для общения инвесторов и обучения новичков.
            .reviews__container-item(data-category="trade")
                .reviews__container-item-header
                    img.reviews-photo(src="../wp-content/themes/trading/august/img/user-2.png")
                    .reviews-name Виктор Антонов
                    .reviews-date 18 октября 2017.
                .reviews__container-title Отзыв:
                .reviews__container-description Школа биржевой торговли TrendUP основана в 2017 году в Ростове-на-Дону. Мы обучаем торговле по следующим направлениям: инвестции и трейдинг. Мы не являемся брокером или его представителем. Сообщество создано исключительно для общения инвесторов и обучения новичков.
            .reviews__container-item(data-category="crupto")
                .reviews__container-item-header
                    img.reviews-photo(src="../wp-content/themes/trading/august/img/user-3.png")
                    .reviews-name Кирилл Антонов
                    .reviews-date 22 октября 2017.
                .reviews__container-title Отзыв:
                .reviews__container-description Школа биржевой торговли TrendUP основана в 2017 году в Ростове-на-Дону. Мы обучаем торговле по следующим направлениям: инвестции и трейдинг. Мы не являемся брокером или его представителем. Сообщество создано исключительно для общения инвесторов и обучения новичков.
            .reviews__container-item(data-category="invest")
                .reviews__container-item-header
                    img.reviews-photo(src="../wp-content/themes/trading/august/img/user-1.png")
                    .reviews-name Олег Антонов
                    .reviews-date 15 октября 2017.
                .reviews__container-title Отзыв:
                .reviews__container-description Школа биржевой торговли TrendUP основана в 2017 году в Ростове-на-Дону. Мы обучаем торговле по следующим направлениям: инвестции и трейдинг. Мы не являемся брокером или его представителем. Сообщество создано исключительно для общения инвесторов и обучения новичков.
            .reviews__container-item(data-category="trade")
                .reviews__container-item-header
                    img.reviews-photo(src="../wp-content/themes/trading/august/img/user-2.png")
                    .reviews-name Виктор Антонов
                    .reviews-date 18 октября 2017.
                .reviews__container-title Отзыв:
                .reviews__container-description Школа биржевой торговли TrendUP основана в 2017 году в Ростове-на-Дону. Мы обучаем торговле по следующим направлениям: инвестции и трейдинг. Мы не являемся брокером или его представителем. Сообщество создано исключительно для общения инвесторов и обучения новичков.
            .reviews__container-item(data-category="crupto")
                .reviews__container-item-header
                    img.reviews-photo(src="../wp-content/themes/trading/august/img/user-3.png")
                    .reviews-name Кирилл Антонов
                    .reviews-date 22 октября 2017.
                .reviews__container-title Отзыв:
                .reviews__container-description Школа биржевой торговли TrendUP основана в 2017 году в Ростове-на-Дону. Мы обучаем торговле по следующим направлениям: инвестции и трейдинг. Мы не являемся брокером или его представителем. Сообщество создано исключительно для общения инвесторов и обучения новичков.
            .reviews__container-item(data-category="invest")
                .reviews__container-item-header
                    img.reviews-photo(src="../wp-content/themes/trading/august/img/user-1.png")
                    .reviews-name Олег Антонов
                    .reviews-date 15 октября 2017.
                .reviews__container-title Отзыв:
                .reviews__container-description Школа биржевой торговли TrendUP основана в 2017 году в Ростове-на-Дону. Мы обучаем торговле по следующим направлениям: инвестции и трейдинг. Мы не являемся брокером или его представителем. Сообщество создано исключительно для общения инвесторов и обучения новичков.
            .reviews__container-item(data-category="trade")
                .reviews__container-item-header
                    img.reviews-photo(src="../wp-content/themes/trading/august/img/user-2.png")
                    .reviews-name Виктор Антонов
                    .reviews-date 18 октября 2017.
                .reviews__container-title Отзыв:
                .reviews__container-description Школа биржевой торговли TrendUP основана в 2017 году в Ростове-на-Дону. Мы обучаем торговле по следующим направлениям: инвестции и трейдинг. Мы не являемся брокером или его представителем. Сообщество создано исключительно для общения инвесторов и обучения новичков.
            .reviews__container-item(data-category="crupto")
                .reviews__container-item-header
                    img.reviews-photo(src="../wp-content/themes/trading/august/img/user-3.png")
                    .reviews-name Кирилл Антонов
                    .reviews-date 22 октября 2017.
                .reviews__container-title Отзыв:
                .reviews__container-description Школа биржевой торговли TrendUP основана в 2017 году в Ростове-на-Дону. Мы обучаем торговле по следующим направлениям: инвестции и трейдинг. Мы не являемся брокером или его представителем. Сообщество создано исключительно для общения инвесторов и обучения новичков.
            .reviews__container-item(data-category="invest")
                .reviews__container-item-header
                    img.reviews-photo(src="../wp-content/themes/trading/august/img/user-1.png")
                    .reviews-name Олег Антонов
                    .reviews-date 15 октября 2017.
                .reviews__container-title Отзыв:
                .reviews__container-description Школа биржевой торговли TrendUP основана в 2017 году в Ростове-на-Дону. Мы обучаем торговле по следующим направлениям: инвестции и трейдинг. Мы не являемся брокером или его представителем. Сообщество создано исключительно для общения инвесторов и обучения новичков.
            .reviews__container-item(data-category="trade")
                .reviews__container-item-header
                    img.reviews-photo(src="../wp-content/themes/trading/august/img/user-2.png")
                    .reviews-name Виктор Антонов
                    .reviews-date 18 октября 2017.
                .reviews__container-title Отзыв:
                .reviews__container-description Школа биржевой торговли TrendUP основана в 2017 году в Ростове-на-Дону. Мы обучаем торговле по следующим направлениям: инвестции и трейдинг. Мы не являемся брокером или его представителем. Сообщество создано исключительно для общения инвесторов и обучения новичков.
            .reviews__container-item(data-category="crupto")
                .reviews__container-item-header
                    img.reviews-photo(src="../wp-content/themes/trading/august/img/user-3.png")
                    .reviews-name Кирилл Антонов
                    .reviews-date 22 октября 2017.
                .reviews__container-title Отзыв:
                .reviews__container-description Школа биржевой торговли TrendUP основана в 2017 году в Ростове-на-Дону. Мы обучаем торговле по следующим направлениям: инвестции и трейдинг. Мы не являемся брокером или его представителем. Сообщество создано исключительно для общения инвесторов и обучения новичков.
        
        button(data-active="0").reviews-more Загрузить ещё
