section.document-page
  .container
    h1.document-page__title Политика конфиденциальности

    article 
      h2 1. Общие положение 
      p <strong>1.1</strong> Настоящая политика обработки персональных данных размещена в соответствии с требованиями Федерального закона от 27.07.2006. №152-ФЗ «О персональных данных» и определяет порядок обработки персональных данных и меры по обеспечению безопасности персональных данных, предпринимаемые Индивидуальным предпринимателем Ереминым Александром Александровичем (ИНН 616118211063, ОГРНИП 316619600237548, адрес (место нахождения): 344004, Ростовская область, г. Ростов-на-Дону, проспект Стачки, дом 74, далее по тексту именуемым «Оператор»), и размещенных на веб-сайте в сети Интернет по адресу: <a href="https://trendup.pro/">https://trendup.pro/</a> (далее по тексту именуемом «Сайт» или «Плафторма»).
      p <strong>1.2</strong> Использование сервисов Сайта означает безоговорочное согласие Пользователя с настоящей Политикой и указанными в ней условиями обработки его персональной информации; в случае несогласия с этими условиями Пользователь должен воздержаться от использования всех сервисов Сайта.

    article 
      h2 2. Цели обработки персональной информации пользователей
      p <strong>2.1</strong> Оператор собирает и хранит только ту персональную информацию, которая необходима для предоставления сервисов Сайта, за исключением случаев, когда законодательством предусмотрено обязательное хранение персональной информации в течение определенного законом срока.
      p <strong>2.2</strong> Персональную информацию Пользователя Сайт обрабатывает в целях заключения, исполнения и прекращения гражданско-правовых договоров; предоставление доступа Пользователю к сервисам, информации и/или материалам, содержащимся на Сайте, а также в целях установления с Пользователем обратной связи, включая направление уведомлений, запросов, касающихся использования Сайта, оказания услуг, обработку запросов и заявок от Пользователя, подтверждения достоверности и полноты персональных данных, предоставленных Пользователем, предоставления Пользователю эффективной клиентской и технической поддержки при возникновении проблем, связанных с использованием Сайта, а также в целях рекламы Сайта.
    
    article 
      h2 3. Условия обработки персональной информации пользователей и ее передачи третьим лицам  
      p <strong>3.1</strong> Сайт хранит персональную информацию Пользователей в соответствии с внутренними регламентами конкретных сервисов. Сайт имеет право отправлять информационные, в том числе рекламные сообщения, на электронную почту и мобильный телефон Пользователя с его согласия, выраженного посредством совершения им действий, однозначно идентифицирующих этого абонента и позволяющих достоверно установить его волеизъявление на получение сообщения. Пользователь вправе отказаться от получения рекламной и другой информации без объяснения причин отказа путем информирования Сайта о своем отказе по телефону +7-(863)-310-21-11 или по адресу электронной почты  <a href="mailto:support@trendup.pro">support@trendup.pro</a>.
      p <strong>3.2</strong> В отношении персональной информации Пользователя сохраняется ее конфиденциальность, кроме случаев добровольного предоставления Пользователем информации о себе для общего доступа неограниченному кругу лиц, в том числе в случае ее опубликования.
      p <strong>3.3</strong> Сайт вправе передать персональную информацию Пользователя третьим лицам в следующих случаях:
      p <strong>3.3.1</strong> Пользователь выразил согласие на такие действия.
      p <strong>3.3.2</strong> Передача необходима для использования Пользователем определенного сервиса либо для исполнения определенного соглашения или договора с Пользователем.
      p <strong>3.3.3</strong> Передача предусмотрена российским или иным применимым законодательством в рамках установленной законодательством процедуры.
      p <strong>3.4</strong> Обработка персональных данных Пользователя осуществляется без ограничения срока любым законным способом, в том числе в информационных системах персональных данных с использованием средств автоматизации или без использования таких средств. Обработка персональных данных Пользователей осуществляется в соответствии с Федеральным законом от 27.07.2006 N 152-ФЗ «О персональных данных»
      p <strong>3.5</strong> Администрация Сайта принимает необходимые организационные и технические меры для защиты персональной информации Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий третьих лиц.
      p <strong>3.6</strong> Оператор имеет право направлять Пользователю уведомления о новых продуктах и услугах, специальных предложениях и различных событиях.
      p <strong>3.7</strong> Администрация Сайта совместно с Пользователем принимает все необходимые меры по предотвращению убытков или иных отрицательных последствий, вызванных утратой или разглашением персональных данных Пользователя
      p <strong>3.8</strong> Оператор обрабатывает персональные данные Пользователя только в случае их заполнения и/или отправки Пользователем самостоятельно через специальные формы, расположенные на сайте <a href="https://trendup.pro/">https://trendup.pro/</a>. Заполняя соответствующие формы и/или отправляя свои персональные данные Оператору, Пользователь выражает свое согласие с данной Политикой.
      p <strong>3.9</strong> Оператор обрабатывает обезличенные данные о Пользователе в случае, если это разрешено в настройках браузера Пользователя (включено сохранение файлов «cookie» и использование технологии JavaScript).

    article 
      h2 4. Порядок сбора, хранения, передачи и иных форм (видов) обработки персональных данных пользователей
      p <strong>4.1</strong> Безопасность персональных данных, которые обрабатываются Оператором, обеспечивается путем реализации правовых, организационных и технических мер, необходимых для выполнения в полном объеме требований действующего законодательства в области защиты персональных данных.
      p <strong>4.2</strong> Оператор обеспечивает сохранность персональных данных и принимает все возможные меры, исключающие доступ к персональным данным неуполномоченных лиц.
      p <strong>4.3</strong> Персональные данные Пользователя никогда, ни при каких условиях не будут переданы третьим лицам, за исключением случаев, связанных с исполнением действующего законодательства.
      p <strong>4.4</strong> В случае выявления неточностей в персональных данных, Пользователь может актуализировать их самостоятельно, путем направления Оператору уведомление на адрес электронной почты Оператора <a href="mailto:support@trendup.pro">support@trendup.pro</a> с пометкой «Актуализация персональных данных».
      p <strong>4.5</strong> Срок обработки персональных данных является неограниченным. Пользователь может в любой момент отозвать свое согласие на обработку персональных данных, направив Оператору уведомление посредством электронной почты на электронный адрес Оператора <a href="mailto:support@trendup.pro">support@trendup.pro</a> с пометкой «Отзыв согласия на обработку персональных данных».
      p <strong>4.6</strong> Персональные данные, разрешённые к обработке в рамках настоящей Политики конфиденциальности, предоставляются Пользователем путём заполнения форм на Сайте и включают в себя следующую информацию:
      p <strong>4.6.1</strong> фамилию, имя, отчество Пользователя
      p <strong>4.6.2</strong> номер контактного телефона Пользователя;
      p <strong>4.6.3</strong> адрес электронной почты (e-mail);
      p <strong>4.6.4</strong> место жительства Пользователя (населенный пункт, регион, государство).
      p <strong>4.7</strong> Сайт защищает данные, которые автоматически передаются при посещении страниц:
      p <strong>4.7.1</strong> IP адрес;
      p <strong>4.7.2</strong> информация из cookies;
      p <strong>4.7.3</strong> информация о браузере (или иной программе, посредством которой осущео
      p <strong>4.7.4</strong> время доступа;
      p <strong>4.7.5</strong> реферер (адрес предыдущей страницы).
      p <strong>4.8</strong> Любая иная персональная информация, неоговоренная выше (история посещения, используемые браузеры, операционные системы и т.д.) подлежит надежному хранению и нераспространению, в том числе данные, которые автоматически передаются сервисам Сайта в процессе их использования с помощью установленного на устройстве Пользователя программного обеспечения, технические характеристики оборудования и программного обеспечения, используемых Пользователем, дата и время доступа к сервисам, адреса запрашиваемых страниц и иная подобная информация, а также иная информация о Пользователе, обработка которой предусмотрена настоящей Политикой.
      p <strong>4.9</strong> Сайт осуществляет сбор статистики об IP-адресах своих посетителей. Данная информация используется с целью предотвращения, выявления и решения технических проблем.
      p <strong>4.10</strong> Отключение cookies может повлечь невозможность доступа к частям Сайта, требующим авторизации.
      p <strong>4.11</strong> До начала осуществления трансграничной передачи персональных данных Оператор обязан убедиться в том, что иностранным государством, на территорию которого предполагается осуществлять передачу персональных данных, обеспечивается надежная защита прав субъектов персональных данных.
      p <strong>4.12</strong> Трансграничная передача персональных данных на территории иностранных государств, не отвечающих вышеуказанным требованиям, может осуществляться только в случае наличия согласия в письменной форме субъекта персональных данных на трансграничную передачу его персональных данных и/или исполнения договора, стороной которого является субъект персональных данных.

    article 
      h2 5. Обязательство сторон
      p <strong>5.1</strong> Пользователь обязан:
      p <strong>5.1.1</strong> Предоставить информацию о персональных данных, необходимую для пользования Сайтом.
      p <strong>5.1.2</strong> Обновлять, дополнять предоставленную информацию о персональных данных в случае изменения данной информации.
      p <strong>5.2</strong> Оператор Сайта обязан:
      p <strong>5.2.1</strong> Использовать полученную информацию исключительно для целей, указанных в настоящей Политике конфиденциальности.
      p <strong>5.2.2</strong> Обеспечить хранение конфиденциальной информации в тайне, не разглашать без предварительного письменного разрешения Пользователя, а также не осуществлять продажу, обмен, опубликование либо разглашение иными возможными способами переданных персональных данных Пользователя, за исключением предусмотренных настоящей Политикой конфиденциальности, обеспечить безопасность данных.
      p <strong>5.2.3</strong> Принимать меры предосторожности для защиты конфиденциальности персональных данных Пользователя согласно порядку, обычно используемому для защиты такого рода информации в существующем деловом обороте.
      p <strong>5.2.4</strong> Осуществить блокирование персональных данных, относящихся к соответствующему Пользователю, с момента обращения или запроса Пользователя или его законного представителя либо уполномоченного органа по защите прав субъектов персональных данных на период проверки в случае выявления недостоверных персональных данных или неправомерных действий.

    article 
      h2 6. Дополнительные условия
      p <strong>6.1</strong> Администрация Сайта вправе вносить изменения в настоящую Политику конфиденциальности без согласия Пользователя.
      p <strong>6.2</strong> Новая Политика конфиденциальности вступает в силу с момента ее размещения на Сайте, если иное не предусмотрено новой редакцией Политики конфиденциальности.
      p <strong>6.3</strong> Пользователь может получить любые разъяснения по интересующим вопросам, касающимся обработки его персональных данных, обратившись к Оператору с помощью электронной почты support@trendup.pro или номеру телефона +7-(863)-310-21-11.
      p <strong>6.4</strong> Действующая Политика конфиденциальности размещена на странице Сайта по адресу: <a href="https://trendup.pro/privacy_popcy/">https://trendup.pro/privacy_popcy/</a>.
