.webinar-navigate
  p.webinar-navigate__title Другие уроки

  nav.webinar-navigate__nav
    ul.webinar-navigate__list
      li.webinar-navigate__item
        a(href="#").webinar-navigate__link.webinar-navigate__link_past Обучение платное или бесплатное?
      li.webinar-navigate__item
        a(href="#").webinar-navigate__link.webinar-navigate__link_past Обучение платное
      li.webinar-navigate__item
        a(href="#").webinar-navigate__link.webinar-navigate__link_past Или бесплатное?
      li.webinar-navigate__item
        a(href="#").webinar-navigate__link.webinar-navigate__link_current Обучение платное или бесплатное?
      li.webinar-navigate__item
        a(href="#").webinar-navigate__link Обучение платное или бесплатное?
      li.webinar-navigate__item
        a(href="#").webinar-navigate__link Зачем и почему?
      li.webinar-navigate__item
        a(href="#").webinar-navigate__link Обучение платное

  a.webinar-navigate__btn.btn-outline.btn-outline_color_primary(href="#") Вернуться назад
