article.account-course-card
  a.account-course-card__link(
    href="#"
    style="background-color: #3A3849"
  )
    p.account-course-card__subtitle День 1

    h3.account-course-card__title Бесплатные уроки с ценностью на 1 000 000 рублей

    span.account-course-card__label 21 сентября 18:30
