section.payment-history
  .container
    .payment-history__inner
      h2.payment-history__title История платежей

      .payment-history__container
        .payment-history__header
          .payment-history__header-item Дата покупки
          .payment-history__header-item Продукт
          .payment-history__header-item Цена
          .payment-history__header-item Чек

        .payment-history__body
          .payment-history__item
            .payment-history__item-col.payment-history__item-date 21.05.2021, 23:55
            a.payment-history__item-col.payment-history__item-product(href="#") Мини-курс Опционы
            .payment-history__item-col.payment-history__item-price 3 900 руб.
            a.payment-history__item-col.payment-history__item-open Открыть чек

          .payment-history__item
            .payment-history__item-col.payment-history__item-date 21.05.2021, 23:55
            a.payment-history__item-col.payment-history__item-product(href="#") Курс инвестиции по-американскиКурс инвестиции по-американски
            .payment-history__item-col.payment-history__item-price 3 900 руб.
            a.payment-history__item-col.payment-history__item-open Открыть чек

          .payment-history__item
            .payment-history__item-col.payment-history__item-date 21.05.2021, 23:55
            a.payment-history__item-col.payment-history__item-product(href="#") Мини-курс Опционы
            .payment-history__item-col.payment-history__item-price 3 900 руб.
            a.payment-history__item-col.payment-history__item-open Открыть чек

          .payment-history__item
            .payment-history__item-col.payment-history__item-date 21.05.2021, 23:55
            a.payment-history__item-col.payment-history__item-product(href="#") Мини-курс Опционы
            .payment-history__item-col.payment-history__item-price 3 900 руб.
            a.payment-history__item-col.payment-history__item-open Открыть чек

          .payment-history__item
            .payment-history__item-col.payment-history__item-date 21.05.2021, 23:55
            a.payment-history__item-col.payment-history__item-product(href="#") Мини-курс Опционы
            .payment-history__item-col.payment-history__item-price 3 900 руб.
            a.payment-history__item-col.payment-history__item-open Открыть чек

          .payment-history__item
            .payment-history__item-col.payment-history__item-date 21.05.2021, 23:55
            a.payment-history__item-col.payment-history__item-product(href="#") Мини-курс Опционы
            .payment-history__item-col.payment-history__item-price 3 900 руб.
            a.payment-history__item-col.payment-history__item-open Открыть чек

          .payment-history__item
            .payment-history__item-col.payment-history__item-date 21.05.2021, 23:55
            a.payment-history__item-col.payment-history__item-product(href="#") Мини-курс Опционы
            .payment-history__item-col.payment-history__item-price 3 900 руб.
            a.payment-history__item-col.payment-history__item-open Открыть чек

          .payment-history__item
            .payment-history__item-col.payment-history__item-date 21.05.2021, 23:55
            a.payment-history__item-col.payment-history__item-product(href="#") Мини-курс Опционы
            .payment-history__item-col.payment-history__item-price 3 900 руб.
            a.payment-history__item-col.payment-history__item-open Открыть чек

          .payment-history__item
            .payment-history__item-col.payment-history__item-date 21.05.2021, 23:55
            a.payment-history__item-col.payment-history__item-product(href="#") Мини-курс Опционы
            .payment-history__item-col.payment-history__item-price 3 900 руб.
            a.payment-history__item-col.payment-history__item-open Открыть чек

      .payment-history__container_mobile
        .payment-history__item
          .payment-history__item-product Мини-курс Опционы
          .payment-history__item-date 19/06/2021
          .payment-history__item-footer
            a.payment-history__item-open Открыть чек
            .payment-history__item-price 3 900 руб.

        .payment-history__item
          .payment-history__item-product Мини-курс Опционы
          .payment-history__item-date 19/06/2021
          .payment-history__item-footer
            a.payment-history__item-open Открыть чек
            .payment-history__item-price 3 900 руб.

        .payment-history__item
          .payment-history__item-product Мини-курс Опционы
          .payment-history__item-date 19/06/2021
          .payment-history__item-footer
            a.payment-history__item-open Открыть чек
            .payment-history__item-price 3 900 руб.

        .payment-history__item
          .payment-history__item-product Мини-курс Опционы
          .payment-history__item-date 19/06/2021
          .payment-history__item-footer
            a.payment-history__item-open Открыть чек
            .payment-history__item-price 3 900 руб.

        .payment-history__item
          .payment-history__item-product Мини-курс Опционы
          .payment-history__item-date 19/06/2021
          .payment-history__item-footer
            a.payment-history__item-open Открыть чек
            .payment-history__item-price 3 900 руб.

      button.payment-history__show-more.button.btn-outline.btn-outline_color_primary.show-more(
        data-query-items=".payment-history__container_mobile .payment-history__item"
        data-show-items="4"
        data-step="4"
        data-media="(max-width: 1439px)"
      ) Показать еще
