section.educational-platform.section-centred
  .container-index
    .educational-platform__box
      .educational-platform__box-top
        .educational-platform__info
          h1.educational-platform__title Образовательная платформа по инвестированию на бирже
          //- p.educational-platform__desc В акции, облигации, фьючерсы и другие биржевые активы

          a.educational-platform__start.btn-primary(href="#") Начать обучение бесплатно

        .educational-platform__media
          .educational-platform__media-inner
            picture.educational-platform__picture
              source(media="(max-width: 833px)" srcset="wp-content/themes/trading/august/img/educational-platform/educational-platform-sm.png")
              source(srcset="wp-content/themes/trading/august/img/educational-platform/educational-platform.webp" type="image/webp")
              img.educational-platform__picture-img(
                src="wp-content/themes/trading/august/img/educational-platform/educational-platform.png"
                alt=""
                width="416"
                height="560"
              )
            
            p.educational-platform__label
              include ../../img/educational-platform/icon-1.svg
              span.educational-platform__label-title Аналитика
            p.educational-platform__label
              include ../../img/educational-platform/icon-2.svg
              span.educational-platform__label-title Бесплатные Уроки
            p.educational-platform__label
              include ../../img/educational-platform/icon-3.svg
              span.educational-platform__label-title Вебинары

      .educational-platform__box-bottom
        //- p.educational-platform__subtitle Платформа:
        //- ul.educational-platform__platform
        //-   li.educational-platform__platform-item Инвестии
        //-   li.educational-platform__platform-item Трейдинг
        //-   li.educational-platform__platform-item Опционы
        //-   li.educational-platform__platform-item CFA
        //-   li.educational-platform__platform-item.educational-platform__platform-item_break
        //-   li.educational-platform__platform-item ФСФР
        //-   li.educational-platform__platform-item Алготрейдинг
        //-   li.educational-platform__platform-item Психология
        //-   li.educational-platform__platform-item Инвест-консультант

        ul.educational-platform__advantage
          li.educational-platform__advantage-item
            p.educational-platform__advantage-title 100 000+ 
            p.educational-platform__advantage-desc Пользователей
          li.educational-platform__advantage-item
            p.educational-platform__advantage-title 3 000 000 000₽
            p.educational-platform__advantage-desc Оборот наших клиентов

