.journal
  .journal__list-one.container
    include ../journal-card/journal-card_size_lg

  .container
    .journal__list-two
      include ../journal-card/journal-card
      include ../journal-card/journal-card

    .journal__list-three
      include ../journal-card/journal-card_size_sm
      include ../journal-card/journal-card_size_sm
      include ../journal-card/journal-card_size_sm
