article.webinar-item-card.webinar-item-card_size_lg
  .webinar-item-card__cover(style="background-color: #222222;")
    a.webinar-item-card__cover-link(href="#")
      span.webinar-item-card__subtitle Инвестиции
      span.webinar-item-card__label 21 сентября в 19:00

    a.webinar-item-card__leading(href="#")
      img.webinar-item-card__leading-avatar(
        src="wp-content/themes/trading/august/img/webinar-card.jpg"
        alt=""
      )
      .webinar-item-card__leading-info
        p.webinar-item-card__leading-title Александр Поляков
        p.webinar-item-card__leading-desc Трейдер

  h3.webinar-item-card__title
    a.webinar-item-card__title-link(href="#") Фишки, которые помогают найти акции с максимальной доходностью! Зарабатывай сейчас же!
