.webinar-practice(data-switch="practice")
  .container
    .account-navigation__container
      .account-navigation__container-item.account-navigation_active(data-switch_category="invest") Инвестиции
      .account-navigation__container-item(data-switch_category="trade") Трейдинг
      .account-navigation__container-item(data-switch_category="option") Опционы
    .webinar-practice__list
      article.practice-card(data-category_item="invest")
        .practice-card__inner
          ul.practice-card__tags
            li.practice-card__tags-item
              span.practice-card__tag Практика
            li.practice-card__tags-item.practice-card__tags-item_position_right
              | День 1

          h3.practice-card__title
            a.practice-card__title-link(href="#") ИНВЕСТИЦИИ. 8 часов торговли с трейдерами

          footer.practice-card__footer
            .practice-card__date
              p.practice-card__date-left 02
                span.practice-card__date-desc Июля
              .practice-card__date-line
              p.practice-card__date-right 16:30
                span.practice-card__date-desc По Москве

      article.practice-card(data-category_item="invest")
        .practice-card__inner
          ul.practice-card__tags
            li.practice-card__tags-item
              span.practice-card__tag Практика
            li.practice-card__tags-item.practice-card__tags-item_position_right
              | День 1

          h3.practice-card__title
            a.practice-card__title-link(href="#") ИНВЕСТИЦИИ. 8 часов торговли с трейдерами

          footer.practice-card__footer
            .practice-card__date
              p.practice-card__date-left 02
                span.practice-card__date-desc Июля
              .practice-card__date-line
              p.practice-card__date-right 16:30
                span.practice-card__date-desc По Москве

      article.practice-card(data-category_item="invest")
        .practice-card__inner
          ul.practice-card__tags
            li.practice-card__tags-item
              span.practice-card__tag Практика
            li.practice-card__tags-item.practice-card__tags-item_position_right
              | День 1

          h3.practice-card__title
            a.practice-card__title-link(href="#") ИНВЕСТИЦИИ. 8 часов торговли с трейдерами

          footer.practice-card__footer
            .practice-card__date
              p.practice-card__date-left 02
                span.practice-card__date-desc Июля
              .practice-card__date-line
              p.practice-card__date-right 16:30
                span.practice-card__date-desc По Москве

      article.practice-card(data-category_item="trade")
        .practice-card__inner
          ul.practice-card__tags
            li.practice-card__tags-item
              span.practice-card__tag Практика
            li.practice-card__tags-item.practice-card__tags-item_position_right
              | День 1

          h3.practice-card__title
            a.practice-card__title-link(href="#") ИНВЕСТИЦИИ. 8 часов торговли с трейдерами

          footer.practice-card__footer
            p.practice-card__status В эфире

      article.practice-card(data-category_item="trade")
        .practice-card__inner
          ul.practice-card__tags
            li.practice-card__tags-item
              span.practice-card__tag Практика
            li.practice-card__tags-item.practice-card__tags-item_position_right
              | День 1

          h3.practice-card__title
            a.practice-card__title-link(href="#") ИНВЕСТИЦИИ. 8 часов торговли с трейдерами

          footer.practice-card__footer
            p.practice-card__desc Смотреть в записи

      article.practice-card(data-category_item="option")
        .practice-card__inner
          ul.practice-card__tags
            li.practice-card__tags-item
              span.practice-card__tag Практика
            li.practice-card__tags-item.practice-card__tags-item_position_right
              | День 1

          h3.practice-card__title
            a.practice-card__title-link(href="#") ИНВЕСТИЦИИ. 8 часов торговли с трейдерами

          footer.practice-card__footer
            .practice-card__date
              p.practice-card__date-left 02
                span.practice-card__date-desc Июля
              .practice-card__date-line
              p.practice-card__date-right 16:30
                span.practice-card__date-desc По Москве
