section.tests-breadcrumbs
    .container
        a.tests-breadcrumbs__container
            img.tests-breadcrumbs-arrow(src="wp-content/themes/trading/august/img/arrow-back.png")
            .tests-breadcrumbs-back Вернуться к курсу
