//- ul.main-menu
li.main-menu__item
  a.main-menu__link(href="/about/" target="_blank") О компании
li.main-menu__item
  a.main-menu__link(href="/webinars/" target="_blank") Вебинары
li.main-menu__item
  a.main-menu__link(href="/courses/" target="_blank") Каталог
