.header-admin {
  position: sticky;
  top: 0;
  margin-bottom: 40px;
  padding: 16px 0;
  background-color: var(--bg-color-page-admin);
  z-index: 3;

  &__inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__burger {
    display: none;
  }

  &__btn + &__btn {
    margin-left: 40px;
  }

  &__btn {
    position: relative;
    display: inline-flex;
    padding: 0;
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &-icon {
      fill: var(--color-dark-gray);
    }

    &_active,
    &:hover {
      .header-admin__btn-icon {
        fill: var(--color-primary);
      }
    }

    &_alert::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(25%, -25%);
      width: 12px;
      height: 12px;
      box-sizing: border-box;
      background-color: var(--color-primary);
      border: 2px solid var(--color-white);
      border-radius: 50%;
    }
  }

  &__user {
    position: relative;
    margin-left: 40px;

    &-toggle {
      display: inline-flex;
      padding: 0;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }

    &-menu {
      --bs-position: end;
      position: absolute;
      display: none;
      padding: 0;
      margin: 0;
      min-width: 165px;
      background-color: var(--color-white);
      list-style-type: none;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      z-index: 1000;

      &.show {
        display: block;
      }
    }

    &-item {
      &:first-child {
        .header-admin__user-btn {
          padding-top: 16px;
        }
      }

      &:last-child {
        .header__user-btn {
          padding-bottom: 16px;
        }
      }
    }

    &-btn {
      display: flex;
      padding: 14px 16px;
      width: 100%;
      box-sizing: border-box;
      color: var(--color-black);
      font-size: 17px;
      line-height: 100%;
      letter-spacing: 0.02em;
      text-decoration: none;
      background-color: transparent;
      border: none;
      cursor: pointer;

      &:hover {
        color: var(--color-primary);
      }
    }

    &-divider {
      margin: 0 16px;
      height: 1px;
      background-color: var(--color-light-gray);
      border: none;
    }

    &-avatar {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  @media (max-width: 1439px) {
    padding: 10px 0;
  }

  @media (max-width: 1023px) {
    background-color: var(--color-white);

    &__burger {
      display: inline-flex;
      margin-right: auto;
    }
  }

  @media (max-width: 833px) {
    &__user {
      margin-left: 20px;
    }

    &__btn + &__btn {
      margin-left: 32px;
    }

    &__btn {
      &-icon {
        width: 32px;
        height: 32px;
      }
    }
  }
}
