section.learn
  .learn__inner.container
    header.learn__header
      h2.learn__title.section-title Чему вы научитесь

      a.learn__start-learn.btn-primary.move-to(
        href="#recording-course" data-mt-duration="800" data-mt-tolerance="81"
      ) Начать обучение

    .learn__slider.swiper-container
      .learn__list.swiper-wrapper
        .learn__item.swiper-slide
          .learn__item-inner
            span.learn__item-picture
              svg(class='learn__item-icon icon' width="24" height="24")
                use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#trending-up")
            h3.learn__item-title Анализировать
            p.learn__item-desc Получите базовые навыки, необходимые для оценки справедливой стоимости любой компании

        .learn__item.swiper-slide
          .learn__item-inner
            span.learn__item-picture
              svg(class='learn__item-icon icon' width="24" height="24")
                use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#bar-chart-2")
            h3.learn__item-title Прогнозировать
            p.learn__item-desc Поймёте, на какие метрики стоит обращать внимание при формировании инвестиционного портфеля

        .learn__item.swiper-slide
          .learn__item-inner
            span.learn__item-picture
              svg(class='learn__item-icon icon' width="24" height="24")
                use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#refresh-cw")
            h3.learn__item-title Инвестировать
            p.learn__item-desc Начнете заботиться  о своем будущем и будущем семьи

        .learn__item.swiper-slide
          .learn__item-inner
            span.learn__item-picture
              svg(class='learn__item-icon icon' width="24" height="24")
                use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#dollar-sign")
            h3.learn__item-title Зарабатывать
            p.learn__item-desc Освоите все необходимые знания и навыки для стабильного заработка

        .learn__item.swiper-slide
          .learn__item-inner
            span.learn__item-picture
              svg(class='learn__item-icon icon' width="24" height="24")
                use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#search")
            h3.learn__item-title Определять
            p.learn__item-desc Сможете определить подходящую для себя стратегию торговли

        .learn__item.swiper-slide
          .learn__item-inner
            span.learn__item-picture
              svg(class='learn__item-icon icon' width="24" height="24")
                use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#briefcase")
            h3.learn__item-title Формировать
            p.learn__item-desc Сформируете индивидуальный портфель с приемлемым соотношением риска и доходности

    .learn__nav
      .learn__controls
        button.learn__prev.btn-navigate
          svg(class="btn-navigate__icon icon" width="24" height="24")
            use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#chevron-left")

        button.learn__next.btn-navigate
          svg(class="btn-navigate__icon icon" width="24" height="24")
            use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#chevron-right")

      a.learn__nav-start-learn.btn-primary(href="#") Начать обучение
