.team
  .container
    h1.team__title Команда TrendUP

  include ../team-management/team-management
  include ../team-staff/team-staff
  include ../atmosphere/atmosphere

  .info-message
    .container
      .info-message__inner
        h2.info-message__title TrendUP - это сплоченный коллектив, работающая для вашего результата

  include ../recruting/recruting
