section.hero
  .hero__inner.container
    .hero__info
      p.hero__subtitle Начни обучение прямо сейчас

      h1.hero__title Инвестиции для&nbsp;начинающих

      p.hero__desc Обучайся, получай аналитику и пользуйся различными инструментами для инвестора

      a.hero__start-learn.btn-primary.move-to(
        href="#recording-course" data-mt-duration="1000" data-mt-tolerance="81"
      ) Начать обучение
