section.subscriptions
  .container
    h1.subscriptions__title Программы обучения

    .account-navigation__container
      a.account-navigation__container-item Курсы
      a.account-navigation__container-item.account-navigation_active Подписки
      a.account-navigation__container-item Инструменты
      a.account-navigation__container-item Услуги

    .subscriptions__list
      article.subscription-card
        span.subscription-card__icon
          svg(class="subscription-card__icon-icon icon" width="20" height="20")
            use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#lightbulb")
        h2.subscription-card__title Аналитика
        p.subscription-card__desc Прогнозы изменений рыночной ситуации в прямом эфире с аналитика

      article.subscription-sale
        span.subscription-sale__icon
          svg(class="subscription-sale__icon-icon icon" width="20" height="20")
            use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#lightbulb")
        h2.subscription-sale__title Аналитика
        p.subscription-sale__desc Прогнозы изменений рыночной ситуации в прямом эфире с аналитика
        p.sale-item 
          span 50%

      article.subscription-teaser
        ul.teaser-item 
          li Новая подписка 21 сентября
        h2.subscription-teaser__title Аналитика
        p.subscription-teaser__desc Прогнозы изменений рыночной ситуации в прямом эфире с аналитика

      article.subscription-teasersale
        ul.teaser-item 
          li Новая подписка 21 сентября
        h2.subscription-teasersale__title Аналитика
        p.subscription-teasersale__desc Прогнозы изменений рыночной ситуации в прямом эфире с аналитика
        p.sale-item 
          span 50%

      article.subscription-buy
        .subscription-buy__head
          span.subscription-buy__head-icon
            svg(class="subscription-buy__icon-icon icon" width="20" height="20")
              use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#lightbulb") 
          p Моя подписка 
        h2.subscription-buy__title Аналитика
        p.subscription-buy__desc Прогнозы изменений рыночной ситуации в прямом эфире с аналитика

      article.subscription-update
        .subscription-update__head
          ul
            li Моя подписка обновилась
        h2.subscription-update__title Аналитика
        p.subscription-update__desc Прогнозы изменений рыночной ситуации в прямом эфире с аналитика

      article.subscription-new
        .subscription-new__head
          span.subscription-new__head-icon
            svg(class="subscription-new__icon-icon icon" width="20" height="20")
              use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#lightbulb") 
          p New
        h2.subscription-new__title Аналитика
        p.subscription-new__desc Прогнозы изменений рыночной ситуации в прямом эфире с аналитика

      article.subscription-newsale
        .subscription-newsale__head
          span.subscription-newsale__head-icon
            svg(class="subscription-newsale__icon-icon icon" width="20" height="20")
              use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#lightbulb") 
          p New
        h2.subscription-newsale__title Аналитика
        p.subscription-newsale__desc Прогнозы изменений рыночной ситуации в прямом эфире с аналитика
        p.sale-item 
          span 50%
