section.vacancies
  .container
    h2.vacancies__title Вы получите
    .vacancies__get
        .vacancies__get-item
            .vacancies__get-item-back
                svg(class="vacancies__get-item-icon" width="18" height="14")
                    use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#user-check")
            h3.vacancies__get-item-title Крутая команда
            .vacancies__get-item-description Техподдержка решит все вопросы по оплате и другим техническим моментам

        .vacancies__get-item
            .vacancies__get-item-back
                svg(class="vacancies__get-item-icon" width="18" height="14")
                    use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#refresh-cw")
            h3.vacancies__get-item-title Корпоративное обучение
            .vacancies__get-item-description Вы сможете общаться и обмениваться опытом с другими учениками

        .vacancies__get-item
            .vacancies__get-item-back
                svg(class="vacancies__get-item-icon" width="18" height="14")
                    use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#bar-chart")
            h3.vacancies__get-item-title Карьерный рост
            .vacancies__get-item-description Задавайте любые вопросы своему преподавателю и получайте ответы в режиме реального времени
    
    h2.vacancies__subtitle Мы предлагаем
    .vacancies__container
        article.vacancies__container-item
            .vacancies__preview
                .vacancies__header-top
                    .vacancies__header-top-title Администратор
                    .vacancies__header-top-open
                        svg(class="icon" width="15" height="9")
                            use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#vector_stroke")
                .vacancies__header-bottom
                    div
                        span.vacancies__header-bottom-experience Стаж: 3 года
                        span.vacancies__header-bottom-busyness Полная занятость
                    .vacancies__header-bottom-price 24 000 руб.
            .vacancies__detail
                .vacancies__detail-title Описание
                .vacancies__detail-description Эриксоновский гипноз, по определению, выбирает традиционный канал. Наряду с этим, анализ зарубежного опыта понимает оппортунический закон. Анализ рыночных цен без оглядки на авторитеты аннигилирует фирменный инсайт. Контраст, по определению, обычно правомочен. Рекламная кампания актаульна как никогда.
                .vacancies__detail-title Чем предстоит заниматься:
                ul.vacancies__detail-list
                    li поддержка пользователей;
                    li настройка оргтехники;
                    li регистрация и удаление пользователей информационной системы;
                    li организация рабочих мест для пользователей;
                    li антивирусная защита;
                    li организация хранения и доступа к информации;
                    li организация и контроль работы IP телефонии;
                    li организация и контроль доступа в сеть Интернет;
                    li мелкий ремонт компьютеров и оргтехники;
                    li инвентаризация имеющегося и нового оборудования;
                    li организация/поддержание/ремонт/модернизация СКС/кабельного хозяйства;
                    li обучение пользователей с целью повышения компьютерной грамотности;
                    li планирование, монтаж и обслуживание систем СКУД и СВД
                button.vacancies__detail-button.btn-primary(data-scroll_button data-vacancy="Администратор") Откликнуться
                
        article.vacancies__container-item
            .vacancies__preview
                .vacancies__header-top
                    h3.vacancies__header-top-title UI/UX-дизайнер
                    .vacancies__header-top-open
                        svg(class="icon" width="15" height="9")
                            use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#vector_stroke")
                .vacancies__header-bottom
                    div
                        span.vacancies__header-bottom-experience Стаж: 3 года
                        span.vacancies__header-bottom-busyness Полная занятость
                    .vacancies__header-bottom-price 24 000 руб.
            .vacancies__detail
                .vacancies__detail-title Описание
                .vacancies__detail-description Эриксоновский гипноз, по определению, выбирает традиционный канал. Наряду с этим, анализ зарубежного опыта понимает оппортунический закон. Анализ рыночных цен без оглядки на авторитеты аннигилирует фирменный инсайт. Контраст, по определению, обычно правомочен. Рекламная кампания актаульна как никогда.
                .vacancies__detail-title Чем предстоит заниматься:
                ul.vacancies__detail-list
                    li поддержка пользователей;
                    li организация и контроль доступа в сеть Интернет;
                    li мелкий ремонт компьютеров и оргтехники;
                    li инвентаризация имеющегося и нового оборудования;
                    li организация/поддержание/ремонт/модернизация СКС/кабельного хозяйства;
                    li обучение пользователей с целью повышения компьютерной грамотности;
                button.vacancies__detail-button.btn-primary(data-scroll_button data-vacancy="UI/UX-дизайнер") Откликнуться
                
        article.vacancies__container-item
            .vacancies__preview
                .vacancies__header-top
                    h3.vacancies__header-top-title Маркетолог
                    .vacancies__header-top-open
                        svg(class="icon" width="15" height="9")
                            use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#vector_stroke")
                .vacancies__header-bottom
                    div
                        span.vacancies__header-bottom-experience Стаж: 3 года
                        span.vacancies__header-bottom-busyness Полная занятость
                    .vacancies__header-bottom-price 24 000 руб.
            .vacancies__detail
                h3.vacancies__detail-title Описание
                .vacancies__detail-description Эриксоновский гипноз, по определению, выбирает традиционный канал. Наряду с этим, анализ зарубежного опыта понимает оппортунический закон. Анализ рыночных цен без оглядки на авторитеты аннигилирует фирменный инсайт. Контраст, по определению, обычно правомочен. Рекламная кампания актаульна как никогда.
                .vacancies__detail-title Чем предстоит заниматься:
                ul.vacancies__detail-list
                    li поддержка пользователей;
                    li настройка оргтехники;
                    li регистрация и удаление пользователей информационной системы;
                    li организация рабочих мест для пользователей;
                    li антивирусная защита;
                    li организация хранения и доступа к информации;
                    li организация и контроль работы IP телефонии;
                    li организация и контроль доступа в сеть Интернет;
                    li мелкий ремонт компьютеров и оргтехники;
                    li инвентаризация имеющегося и нового оборудования;

                button.vacancies__detail-button.btn-primary(data-scroll_button data-vacancy="Маркетолог") Откликнуться
            
    
        
