article.useful-card
  .useful-card__inner
    ul.useful-card__tags
      li.useful-card__tags-item
        span.useful-card__tag Полезные материалы

    h3.useful-card__title
      a.useful-card__title-link(href="#") Набор материалов по биржевой торговли

    a.useful-card__link(href="#") Подробнее
