label.field-radio
  input.field-radio__input(type="radio" name="one" checked)
  span.field-radio__box
  span.field-radio__label Как уже отмечалось, технология коммуникации означает сет.

// Примеры невалидного и валидного radio
//- label.field-radio
//-   input.field-radio__input.field-radio__input_invalid(type="radio" name="one")
//-   span.field-radio__box
//-   span.field-radio__label Как уже отмечалось, технология коммуникации означает сет.
//-     span.field-radio__feedback Как уже отмечалось, технология коммуникацКак уже отмечалось, технология коммуникации означает сет. Как уже отмечалось, технология коммуникации означает сет. ии означает сет.

//- label.field-radio
//-   input.field-radio__input.field-radio__input_valid(type="radio" name="one")
//-   span.field-radio__box
//-   span.field-radio__label Как уже отмечалось, технология коммуникации означает сет.
//-     span.field-radio__feedback Как уже отмечалось, технология коммуникацКак уже отмечалось, технология коммуникации означает сет. Как уже отмечалось, технология коммуникации означает сет. ии означает сет.
