// style="background-image: url(img/quiz/quiz-bg.svg)" - задать фон
// .quiz-preview_exam - модификатор для экзамена
.quiz-preview
  // .quiz-preview__title_weight_medium = (font-weight: 500)
  p.quiz-preview__title Пройдите тест, чтобы проверить, насколько хорошо вы усвоили материал данного урока

  ul.quiz-preview__includes
    li.quiz-preview__includes-item
      b.quiz-preview__includes-title 14
      span.quiz-preview__includes-desc Вопросов
    li.quiz-preview__includes-item
      b.quiz-preview__includes-title 4
      span.quiz-preview__includes-desc Допустимые ошибки

  button.quiz-preview__start.btn-primary(type="button") Начать экзамен
