footer.footer.footer_theme_light
  .footer__top
    .footer__top-inner.container
      .footer__top-left
        a.footer__logo.logo(href="#" aria-label="TrendUp")
          include ../../img/footer-logo.svg

        ul.footer__social.social
          include ../social/social

        .footer__responsibility
          p.footer__responsibility-title Уведомление об отказе от ответственности:
          p.footer__responsibility-info Уведомление об отказе от ответственности: *Просматривая и скачивая материалы сайта вы полностью соглашаетесь с условиями 
            a.footer__responsibility-link(href="#" target="_blank") Уведомления об отказе от ответственности

      .footer__top-right
        .footer__nav
          .footer__nav-item
            h2.footer__title Информация

            ul.footer__menu
              li.footer__menu-item
                a.footer__menu-link(href="/about/" target="_blank") О компании
              li.footer__menu-item
                a.footer__menu-link(href="/experts/" target="_blank") Эксперты
              li.footer__menu-item
                a.footer__menu-link(href="/contacts/" target="_blank") Контакты
              li.footer__menu-item
                a.footer__menu-link(href="#") Вакансии
              li.footer__menu-item
                a.footer__menu-link(href="#") Отзывы

          .footer__nav-item
            h2.footer__title Обучение

            ul.footer__menu
              //- li.footer__menu-item
              //-   a.footer__menu-link(href="#") Полезные материалы
              //- li.footer__menu-item
              //-   a.footer__menu-link(href="#") Учиться бесплатно
              li.footer__menu-item
                a.footer__menu-link(href="/course/usa-invest/" target="_blank") Инвестиции
              li.footer__menu-item
                a.footer__menu-link(href="#") Трейдинг
              li.footer__menu-item
                a.footer__menu-link(href="#") Опционы

          .footer__nav-item
            h2.footer__title TrendBook

            ul.footer__menu
              li.footer__menu-item
                a.footer__menu-link(href="#") Журнал
              li.footer__menu-item
                a.footer__menu-link(href="#") База знаний
              li.footer__menu-item
                a.footer__menu-link(href="#") Материалы

          .footer__nav-item.footer__secondary-menu
            h2.footer__secondary-menu-item.footer__title
              a.footer__link(href="/oferta/" target="_blank") Договор оферты
            h2.footer__secondary-menu-item.footer__title
              a.footer__link(href="#") Оплата
            h2.footer__secondary-menu-item.footer__title
              a.footer__link(href="/privacy_policy/" target="_blank") Политика конфиденциальности

        .footer__addition-info
          .footer__addition-info-item
            h2.footer__title Реквизиты ИП Ерёмин А.А.
            p.footer__paragraph ИНН 616118211063
            p.footer__paragraph ОГРН 316619600237548

          .footer__addition-info-item
            h2.footer__title Адрес
            p.footer__paragraph Россия, Ростовская область, г. Ростов-на-Дону ул.Врубовая, д. 85, к. 123

  .footer__middle
    .footer__middle-inner.container
      p.footer__contact
        a.footer__contact-title(href="tel:+7(800)551-09-22") +7 (800) 551-09-22
        span.footer__contact-desc номер телефона

      p.footer__contact
        a.footer__contact-title(href="mailto:support@trendup.pro") support@trendup.pro
        span.footer__contact-desc наш e-mail

      p.footer__contact
        span.footer__contact-title г. Москва, БЦ “Высший”, оф. 24
        span.footer__contact-desc наш адрес

  .footer__bottom
    .footer__bottom-inner.container
      p.footer__copy 2021 © TrendUp. Все права защищены
