section.innovation.section-centred
  .container-index
    .innovation__box
      .innovation__box-left
        picture.innovation__picture
          source(srcset="wp-content/themes/trading/august/img/innovation/innovation.webp" type="image/webp")
          img.innovation__picture-img(
            src="wp-content/themes/trading/august/img/innovation/innovation.jpg"
            alt=""
            width="716"
            height="884"
          )

      .innovation__box-right
        h2.innovation__title TrendUp - это инновация в сфере инвестиционного образования

        ul.innovation__advantage
          li.innovation__advantage-item
            span.innovation__advantage-title 92% 
            span.innovation__advantage-desc учеников приумножают капитал на бирже
          li.innovation__advantage-item
            span.innovation__advantage-title.innovation__advantage-title_size_sm 8% 
            span.innovation__advantage-desc строят карьеру в финансовой сфере (банки, брокеры, инвест. консультанты)

        a.innovation__auth.btn-primary(href="#") Зарегистрироваться
