.innovation {
  padding-top: 54px;

  &__box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;

    &-left {
      position: relative;
      min-height: 883px;
    }

    &-right {
      padding-top: 53px;
    }
  }

  &__picture {
    &-img {
      position: absolute;
      right: 0;
      margin-right: 25px;
      max-width: unset;
      width: 716px;
      height: auto;
      object-fit: contain;
      object-position: top;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 70px;
    font-weight: bold;
    font-size: 52px;
    line-height: 130%;
  }

  &__advantage {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    list-style-type: none;

    &-item + &-item {
      margin-top: 20px;
    }

    &-title  {
      color: var(--color-primary);
      font-weight: bold;
      font-size: 52px;
      line-height: 130%;

      &_size_sm {
        font-size: 42px;
      }
    }

    &-desc {
      color: var(--color-dark-dark);
      font-weight: normal;
      font-size: 32px;
      line-height: 130%;
    }
  }

  &__auth {
    padding: 16px;
    min-width: 264px;
    font-weight: bold;
    font-size: 16px;
    line-height: 130%;
  }

  @media (max-width: 1919px) {
    padding-bottom: 5px;

    &__box {
      &-left {
        min-height: 774px;
      }

      &-right {
        padding-top: 0;
      }
    }

    &__picture {
      &-img {
        margin-right: 0;
        margin-top: 15px;
        width: 627px;
      }
    }

    &__title {
      margin-bottom: 24px;
    }

    &__advantage {
      margin-bottom: 48px;
    }
  }

  @media (max-width: 1439px) {
    margin-bottom: -54px;
    padding-top: 45px;
    padding-bottom: 0;

    &__box {
      &-left {
        min-height: 620px;
      }
    }

    &__picture {
      &-img {
        width: 490px;
      }
    }

    &__title {
      font-size: 32px;
    }

    &__advantage {
      margin-bottom: 36px;

      &-item + &-item {
        margin-top: 10px;
      }

      &-item {
        display: grid;
        grid-template-columns: 92px 1fr;
        gap: 15px;
      }

      &-title {
        font-size: 42px;
      }

      &-desc {
        font-size: 20px;
      }
    }
  }

  @media (max-width: 1023px) {
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 45px;

    &__box {
      gap: 20px;

      &-left {
        min-height: 495px;
      }
    }

    &__picture {
      &-img {
        margin-top: 5px;
        width: 401px;
      }
    }

    &__title {
      margin-bottom: 40px;
    }

    &__advantage {
      margin-bottom: 40px;
    }

    &__auth {
      min-width: unset;
      width: 100%;
    }
  }

  @media (max-width: 833px) {
    padding-top: 32px;
    padding-bottom: 20px;

    &__box {
      grid-template-columns: 1fr;
      gap: 32px;

      &-left {
        order: 1;
        min-height: unset;
      }
    }

    &__picture {
      &-img {
        position: static;
        margin: 0;
        width: 100%;
      }
    }

    &__title {
      margin-bottom: 32px;
    }

    &__advantage {
      margin-bottom: 48px;
      max-width: 350px;

      &-item + &-item {
        margin-top: 24px;
      }

      &-item {
        display: grid;
        grid-template-columns: 1fr;
        gap: 8px;
      }

      &-desc {
        font-size: 28px;
      }
    }
  }

  @media (max-width: 499px) {
    padding-top: 18px;

    &__title {
      margin-bottom: 24px;
      font-size: 24px;
    }
  }
}
