.webinar-will-teach
  p.webinar-will-teach__title Вы научитесь:

  .webinar-will-teach__inner
    ul
      li разрботка с помощью финансовых
      li разрботка с помощью финансовых
      li разрботка с помощью финансовых
      li разрботка с помощью финансовых
      li разрботка с помощью финансовых
      li разрботка с помощью финансовых
