.account-alert
  .container
    .account-alert__list
      .account-alert__item
        h3.account-alert__item-title Уведомление о вебинарах
        p.account-alert__item-desc Проверка вашей работы и новые комментарии преподавателя
        .account-alert__item-controls
          .account-alert__item-control
            span.account-alert__item-control-label Эллектронная почта
            label.account-alert__item-control-switch.switch
              input.switch__input(type="checkbox")
              span.switch__box
                span.switch__box-mark
          .account-alert__item-control
            span.account-alert__item-control-label На сайте
            label.account-alert__item-control-switch.switch
              input.switch__input(type="checkbox")
              span.switch__box
                span.switch__box-mark

      .account-alert__item
        h3.account-alert__item-title Акции и предложения
        p.account-alert__item-desc Мотивирующие уведомления, напоминания об уроках. Пока только в почте
        .account-alert__item-controls
          .account-alert__item-control
            span.account-alert__item-control-label Эллектронная почта
            label.account-alert__item-control-switch.switch
              input.switch__input(type="checkbox")
              span.switch__box
                span.switch__box-mark
          .account-alert__item-control
            span.account-alert__item-control-label На сайте
            label.account-alert__item-control-switch.switch
              input.switch__input(type="checkbox" checked)
              span.switch__box
                span.switch__box-mark

      .account-alert__item
        h3.account-alert__item-title Push и браузерное-уведомления
        p.account-alert__item-desc Изменения программы, анонсы вебинаров и дипломных работ. Пока только в почте
        .account-alert__item-controls
          .account-alert__item-control
            span.account-alert__item-control-label На сайте
            label.account-alert__item-control-switch.switch
              input.switch__input(type="checkbox")
              span.switch__box
                span.switch__box-mark

      .account-alert__item
        h3.account-alert__item-title Выключить все уведомления
        p.account-alert__item-desc Выключая все уведомления, вы не сможите получать информацию и новости о мероприятиях и трансляциях, которые могут вас заинтересовать
        .account-alert__item-controls
          .account-alert__item-control
            label.account-alert__item-control-switch.switch
              input.switch__input(type="checkbox")
              span.switch__box
                span.switch__box-mark
