extends ../templates/main

block content
  include ../../blocks/school/school
  include ../../blocks/trandup-result/trandup-result
  include ../../blocks/partners/partners
  include ../../blocks/about-us-people/about-us-people
  include ../../blocks/atmosphere/atmosphere
  include ../../blocks/questions/questions
  include ../../blocks/more-us/more-us
  include ../../blocks/form-consultation/form-consultation

block modal
  include ../../blocks/modal/modal

block scripts
  script(src="js/script.js")
