extends ../templates/admin-white

block content
  include ../../blocks/account-navigation/account-navigation
  include ../../blocks/account-personal/account-personal


block modal
  include ../../blocks/modal/modal

block scripts
  script(src="js/script.js")
