extends ../templates/admin-white

block content
  include ../../blocks/account-navigation/static/account-auth
  include ../../blocks/account-auth/account-auth


block modal
  include ../../blocks/modal/modal

block scripts
  script(src="js/script.js")
