extends ../templates/index

block content
  include ../../blocks/account-courses/account-courses
  //- include ../../blocks/account-useful/account-useful


block modal
  include ../../blocks/modal/modal

block scripts
  script(src="js/script.js")
