extends ../templates/admin

block content
  include ../../blocks/investment/investment
  include ../../blocks/course-for/course-for
  include ../../blocks/learn/learn
  include ../../blocks/included-training/included-training
  include ../../blocks/training-program/training-program
  include ../../blocks/instructor/instructor
  include ../../blocks/tariffs/tariffs
  include ../../blocks/consultation/consultation
  include ../../blocks/support/support
  include ../../blocks/recording-course/recording-course

block modal
  include ../../blocks/modal/modal

block scripts
  script(src="js/script.js")
