extends ../templates/main

block content
  .container
    ul.breadcrumbs
      li.breadcrumbs__item
        a.breadcrumbs__link(href="/") Главная
      li.breadcrumbs__item
        a.breadcrumbs__link Страницы

  section(style="padding-bottom: 80px;")
    .container
      h2.section-title Страницы 
        span(style="color: var(--color-primary);") Stage 1
        | :

      ul.tariff__list
        li.tariff__list-item
          a.link(href="/" target="_blank") Главная
        li.tariff__list-item
          a.link(href="/contacts.html" target="_blank") Контакты
        li.tariff__list-item
          a.link(href="/experts.html" target="_blank") Эксперты
        li.tariff__list-item
          a.link(href="/expert.html" target="_blank") Эксперт
        li.tariff__list-item
          a.link(href="/reviews.html" target="_blank") Отзывы
        li.tariff__list-item
          a.link(href="/vacancies.html" target="_blank") Вакансии
        li.tariff__list-item
          a.link(href="/team.html" target="_blank") Команда
        li.tariff__list-item
          a.link(href="/about-us.html" target="_blank") О компании

      h2.section-title Страницы 
        span(style="color: var(--color-primary);") Stage 2
        | :

      ul.tariff__list
        li.tariff__list-item
          a.link(href="/account-courses.html" target="_blank") Личный кабинет - Мои курсы
        li.tariff__list-item
          a.link(href="/account-personal.html" target="_blank") Аккаунт - Личная информация
        li.tariff__list-item
          a.link(href="/account-auth.html" target="_blank") Аккаунт - Данные авторизации
        li.tariff__list-item
          a.link(href="/account-help.html" target="_blank") Аккаунт - Помощь
        li.tariff__list-item
          a.link(href="/account-payment.html" target="_blank") Аккаунт - Платежи
        li.tariff__list-item
          a.link(href="/webinars-catalog.html" target="_blank") Вебинары
        li.tariff__list-item
          a.link(href="/webinar.html" target="_blank") Вебинар
        li.tariff__list-item
          a.link(href="/webinar-live.html" target="_blank") Вебинар - Прямой эфир
        li.tariff__list-item
          a.link(href="/webinar-recording.html" target="_blank") Вебинар - Запись вебинара
        li.tariff__list-item
          a.link(href="/webinar-analytics-live.html" target="_blank") Аналитика - Прямой эфир
        li.tariff__list-item
          a.link(href="/webinar-webinar-analytics-recording.html" target="_blank") Аналитика - Запись
        li.tariff__list-item
          a.link(href="/webinar-lesson.html" target="_blank") Уроки
        li.tariff__list-item
          a.link(href="/course.html" target="_blank") Курс
        li.tariff__list-item
          a.link(href="/course-classic.html" target="_blank") Курс - Без рейтинга
        li.tariff__list-item
          a.link(href="/events-calendar.html" target="_blank") Календарь мероприятий
        li.tariff__list-item
          a.link(href="/test-page.html" target="_blank") Тест - Уроки
        li.tariff__list-item
          a.link(href="/exam-page.html" target="_blank") Тест
        li.tariff__list-item
          a.link(href="/test-result.html" target="_blank") Тест - Результат
        li.tariff__list-item
          a.link(href="/wiki.html" target="_blank") База знаний
        li.tariff__list-item
          a.link(href="/analitics-catalog.html" target="_blank") Аналитика
        li.tariff__list-item
          a.link(href="/catalog-courses.html" target="_blank") Каталог - Курсы
        li.tariff__list-item
          a.link(href="/catalog-subscriptions.html" target="_blank") Каталог - Подписки
        li.tariff__list-item
          a.link(href="/materials.html" target="_blank") Полезные материалы

      ul.tariff__list
        li.tariff__list-item
          a.link(href="/header-main.html" target="_blank") Новая шапка
        li.tariff__list-item
          a.link(href="/index2.html" target="_blank") Новая Главная
        li.tariff__list-item
          a.link(href="/quiz-preview.html" target="_blank") Тест
        li.tariff__list-item
          a.link(href="/quiz-exam.html" target="_blank") Тест - Экзаменационный
        li.tariff__list-item
          a.link(href="/quiz-test.html" target="_blank") Тест - Вопросы
        li.tariff__list-item
          a.link(href="/quiz-test-feedback.html" target="_blank") Тест - Вопросы с описанием
        li.tariff__list-item
          a.link(href="/quiz-test-all.html" target="_blank") Тест - Вопросы с картинками
        li.tariff__list-item
          a.link(href="/quiz-test-all-checkbox.html" target="_blank") Тест - Вопросы с чекбоксами
        li.tariff__list-item
          a.link(href="/quiz-result.html" target="_blank") Тест - Результат
