extends ../templates/index

block content
  .container
    ul.breadcrumbs
      li.breadcrumbs__item
        a.breadcrumbs__link(href="/") Назад
      li.breadcrumbs__item
        a.breadcrumbs__link Контакты

  include ../../blocks/contacts/contacts
  include ../../blocks/form-contacts/form-contacts


block modal
  include ../../blocks/modal/modal

block scripts
  script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
  script(src="js/script.js")
  script(src="js/contacts.js")
