extends ../templates/admin

block content

  include ../../blocks/exam-breadcrumbs/exam-breadcrumbs
  include ../../blocks/exam-module/exam-module

block modal
  include ../../blocks/modal/modal

block scripts
  script(src="js/script.js")
