extends ../templates/index

block content
  include ../../blocks/educational-platform/educational-platform
  include ../../blocks/innovation/innovation
  include ../../blocks/specialists/specialists
  include ../../blocks/utterance/utterance

block modal
  include ../../blocks/modal/modal

block scripts
  script(src="js/script.js")
