extends ../templates/main

block header
  include ../../blocks/header-main/static/header

block content
  .container
    ul.breadcrumbs
      li.breadcrumbs__item
        a.breadcrumbs__link(href="/") Назад
      li.breadcrumbs__item
        a.breadcrumbs__link Отзывы

  include ../../blocks/reviews/reviews


block modal
  include ../../blocks/modal/modal

block scripts
  script(src="js/script.js")
