extends ../templates/index

block content
  .container
    ul.breadcrumbs
      li.breadcrumbs__item
        a.breadcrumbs__link(href="/") Назад
      li.breadcrumbs__item
        a.breadcrumbs__link Вакансии

  include ../../blocks/vacancies/vacancies
  include ../../blocks/form-vacancies/form-vacancies


block modal
  include ../../blocks/modal/modal

block scripts
  script(src="js/script.js")
