extends ../templates/admin

block content
  section.webinar.container
    h1.visually-hidden Вебинар

    .webinar__inner
      .webinar__content
        include ../../blocks/webinar-video/webinar-video

        button.webinar__additional-info-toggle(
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#webinar-additional-info"
        )
          svg(class="webinar__additional-info-toggle-icon icon" width="24" height="24")
            use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#plus-circle")
          span скрыть доп. информацию

        .collapse.show(id="webinar-additional-info")
          include ../../blocks/webinar-leading/webinar-leading
          include ../../blocks/webinar-will-teach/webinar-will-teach
          include ../../blocks/webinar-materials/webinar-materials

        include ../../blocks/webinar-chat/webinar-chat

      .webinar__aside
        include ../../blocks/webinar-webinars/webinar-webinars


block modal
  include ../../blocks/modal/modal


block scripts
  script(src="js/script.js")
