extends ../templates/admin

block content
  include ../../blocks/wiki-breadcrumbs/wiki-breadcrumbs
  include ../../blocks/wiki-detail/wiki-detail


block modal
  include ../../blocks/modal/modal

block scripts
  script(src="js/script.js")
