section.analitics-catalog
    .container
        h2 Аналитика
        .analitics-catalog__container
            article.analitics-catalog__item
                .analitics-catalog__item-description
                    h3.analitics-catalog__item-title Утренняя аналитика с TrendUp
                    .analitics-catalog__item-date 16 июля 10:30 МСК
                    button.analitics-catalog__item-watch Смотреть урок
                .analitics-catalog__item-personal
                    .webinar-card__master
                        img.webinar-card__master-avatar(src="wp-content/themes/trading/august/img/analitic-1.png" alt="Александр Поляков" width="76" height="76")

                        .webinar-card__master-info
                            p.webinar-card__master-name Александр Поляков
                            p.webinar-card__master-activity Специалист в области трейдинга
                            
            article.analitics-catalog__item
                .analitics-catalog__item-description
                    h3.analitics-catalog__item-title Утренняя аналитика с TrendUp
                    .analitics-catalog__item-date 16 июля 10:30 МСК
                    button.analitics-catalog__item-watch Смотреть урок
                .analitics-catalog__item-personal
                    .webinar-card__master
                        img.webinar-card__master-avatar(src="wp-content/themes/trading/august/img/analitic-2.png" alt="Кожамниязов Ислам" width="112" height="112")

                        .webinar-card__master-info
                            p.webinar-card__master-name Кожамниязов Ислам
                            p.webinar-card__master-activity Специалист в области трейдинга
                            
            article.analitics-catalog__item
                .analitics-catalog__item-description
                    h3.analitics-catalog__item-title Утренняя аналитика с TrendUp
                    .analitics-catalog__item-date 16 июля 10:30 МСК
                    button.analitics-catalog__item-watch Смотреть урок
                .analitics-catalog__item-personal
                    .webinar-card__master
                        img.webinar-card__master-avatar(src="wp-content/themes/trading/august/img/analitic-3.png" alt="Александр Поляков" width="112" height="112")

                        .webinar-card__master-info
                            p.webinar-card__master-name Александр Поляков
                            p.webinar-card__master-activity Специалист в области трейдинга

    