section.tests
    .container
        .tests__side-mobile
            h3.tests__side-mobile-title Выбор урока
            .select
              select
                  option Обучение платное или бесплатное?
                  option Обучение платное
                  option Или бесплатное?
                  option Обучение платное или бесплатное?
                  option Обучение платное или бесплатное?
                  option Зачем и почему?
                  option Обучение платное
            
        h2.tests-title Промежуточный тест за первый урок
        .tests__blocks
            .tests__block
                .tests__container
                    h3.tests__container-title Пройдите тест, чтобы проверить, насколько хорошо вы усвоили материал данного урока
                    .tests__questions
                        .tests__questions-item
                            .tests__questions-item-number 14
                            .tests__questions-item-text Вопросов
                        .tests__questions-line
                        .tests__questions-item
                            .tests__questions-item-number 4
                            .tests__questions-item-text Допустимые ошибки
                    button.btn-primary Начать экзамен
            .tests__block
                .tests__sidebar
                    h3.tests__sidebar-title Другие уроки
                    .tests__sidebar__list
                        a.tests__sidebar__list-item.tests_marker Обучение платное или бесплатное?
                        a.tests__sidebar__list-item.tests_marker Обучение платное
                        a.tests__sidebar__list-item.tests_marker Или бесплатное?
                        a.tests__sidebar__list-item.tests_marker Обучение платное или бесплатное?
                        a.tests__sidebar__list-item.tests_marker Обучение платное или бесплатное?
                        a.tests__sidebar__list-item.tests_activated Зачем и почему?
                        a.tests__sidebar__list-item Обучение платное
                    button.btn-tab.btn-tab_color_primary.tests-button Вернуться назад
                        
                    
        

