section.investment
  .investment__inner.container
    include ../../img/investment.svg

    .investment__info
      b.investment__advert Стартуем 5 августа
      h2.investment__title.section-title Инвестиции по&#8209;американски
      p.investment__desc Обучение принципам и стратегиям инвестирования на бирже для выхода на финансовую независимость

      .investment__links
        a.investment__get-program.btn-primary.move-to(
          href="#training-program" data-mt-duration="1000" data-mt-tolerance="81"
        ) Получить программу
        a.investment__view-program(href="/course/usa-invest/" target="_blank") Посмотреть всю программу >

      ul.box-features
        li.box-features__item
          p.box-features__title 32
          p.box-features__desc урока

        li.box-features__item
          p.box-features__title 31
          p.box-features__desc тест

        li.box-features__item
          p.box-features__title 10
          p.box-features__desc часов
