.field-file
  input.field-file__control(type="file" name="files" id="files" multiple)
  label.field-file__label(for="files")
    svg(class="field-file__icon icon" width="23" height="22")
      use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#clip")

    span.field-file__label-text Прекрепить файл

  //- ul.field-file__list
    //- li.field-file__item(title="test")
    //-   svg(class="field-file__item-icon icon" width="32" height="32")
    //-     use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#file-text")
    //-   button.field-file__remove(type="button" aria-label="Удалить")
    //-     svg(class="field-file__remove-icon icon" width="22" height="22")
    //-       use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#plus-circle")
