a.webinar-leading(href="#" target="_blank")
  picture.webinar-leading__picture
    img.webinar-leading__picture-img(
      src="../wp-content/themes/trading/august/img/webinar-leading.png"
      alt=""
      width="71"
      height="71"
    )

  .webinar-leading__info
    p.webinar-leading__fullname Владислав Климов
    p.webinar-leading__desc Специалист в области инвестиций 
