section.wiki
  .container
    h1.wiki__title База знаний

    //- .wiki__items
    //-   .wiki__items-item.wiki-heavenly  
    //-     p Брокерский счет
    //-     a(href="#") Подробнее
    //-   .wiki__items-item.wiki-blue   
    //-     p Пифы
    //-     a(href="#") Подробнее
    //-   .wiki__items-item.wiki-purple   
    //-     p ИИС
    //-     a(href="#") Подробнее
    //-   .wiki__items-item.wiki-pink   
    //-     p Ценные бумаги
    //-     a(href="#") Подробнее
    //-   .wiki__items-item.wiki-yellow 
    //-     p Налоги
    //-     a(href="#") Подробнее

    .wiki__list
      a.wiki__category-card(href="#")
        span.wiki__category-card-icon
          svg(class="icon" width="22" height="18")
            use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#record")
        span.wiki__category-card-title Инвестиции
        span.wiki__category-card-desc 32 статьи

      a.wiki__category-card(href="#")
        span.wiki__category-card-icon
          svg(class="icon" width="18" height="18")
            use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#award")
        span.wiki__category-card-title Ценные бумаги
        span.wiki__category-card-desc 32 статьи

      a.wiki__category-card(href="#")
        span.wiki__category-card-icon
          svg(class="icon" width="18" height="18")
            use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#link")
        span.wiki__category-card-title Налоги и вычеты
        span.wiki__category-card-desc 32 статьи

      a.wiki__category-card(href="#")
        span.wiki__category-card-icon
          svg(class="icon" width="18" height="18")
            use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#user-check")
        span.wiki__category-card-title Брокеры
        span.wiki__category-card-desc 32 статьи

      a.wiki__category-card(href="#")
        span.wiki__category-card-icon
          svg(class="icon" width="18" height="18")
            use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#trending-up")
        span.wiki__category-card-title С чего начатьокеры
        span.wiki__category-card-desc 32 статьи

      a.wiki__category-card(href="#")
        span.wiki__category-card-icon
          svg(class="icon" width="18" height="18")
            use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#book")
        span.wiki__category-card-title Словарь
        span.wiki__category-card-desc 32 статьи

    .wiki__list
      a.wiki__article-card(href="#")
        span.wiki__article-card-icon
          include ../../img/question-gradient.svg
        span.wiki__article-card-title Способы и виды инвестирования

      a.wiki__article-card(href="#")
        span.wiki__article-card-icon
          include ../../img/question-gradient.svg
        span.wiki__article-card-title Что такое инвестиции

      a.wiki__article-card(href="#")
        span.wiki__article-card-icon
          include ../../img/question-gradient.svg
        span.wiki__article-card-title Как платить налог по акциям и облигациям

      a.wiki__article-card(href="#")
        span.wiki__article-card-icon
          include ../../img/question-gradient.svg
        span.wiki__article-card-title Что такое ИИС
