section.contacts
  .container
    h1.contacts__title Контакты

    .contacts__content
      .contacts__info
        .contacts__field.contacts__field-address
          h3.contacts__field-title Адрес:
          p.contacts__field-text Ростов-на-Дону, проспект Стачки 74/29

        .contacts__field.contacts__field-email
          h3.contacts__field-title Почта:
          a.contacts__field-text(href="mailto:support@trendup.pro") support@trendup.pro

        .contacts__field.contacts__field-phone
          h3.contacts__field-title Номер телефона:
          a.contacts__field-text(href="tel:8(800)551-09-22") 8 (800) 551-09-22

        .contacts__field.contacts__field-law-address
          h3.contacts__field-title Юридический адрес
          p.contacts__field-text г.Ростов-на-Дону ул. Врубовая 85

        .contacts__field.contacts__field-requisite
          h3.contacts__field-title Реквизиты
          // .contacts__field-text_space - увеличенный отступ между строк
          p.contacts__field-text ИНН:616118211063
          p.contacts__field-text ОГРНИП:316619600237548 

        .contacts__field.contacts__field-social
          h3.contacts__field-title Социальные сети

          ul.social
            li.social__item
              a.social__link.social__link_color_light(href="#" target="_blank" aria-label="Вконтакте")
                svg(class="icon social__icon" width="19" height="10")
                  use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#vk")

            li.social__item
              a.social__link.social__link_color_light(href="#" target="_blank" aria-label="instagram")
                svg(class="icon social__icon" width="19" height="18")
                  use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#instagram")

            li.social__item
              a.social__link.social__link_color_light(href="#" target="_blank" aria-label="Telegram")
                svg(class="icon social__icon" width="18" height="14")
                  use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#tg")

            li.social__item
              a.social__link.social__link_color_light(href="#" target="_blank" aria-label="YouTube")
                svg(class="icon social__icon" width="21" height="15")
                  use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#youtube")

      .contacts__map
        .contacts__map-inner(id="map")
