// Курс доступен для покупки
.course-card {
  display: flex;
  align-items: center;
  background-color: var(--color-white);
  padding: 32px;

  &__info {
    margin-right: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    max-width: 300px;
  }

  &__title {
    margin: 0;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    font-weight: 500;
    letter-spacing: 0.02em;
  }
  
  &__desc {
    margin: 0;
    margin-bottom: 0;
    color: var(--color-dark-gray);
    line-height: 121%;
    letter-spacing: 0.02em;
  }

  &__picture {
    flex-shrink: 0;
    margin-left: 20px;
    max-width: 124px;
    height: auto;
  }

  // Скидка
  .course-sail{
    position: absolute;
    margin: 0;
    bottom: -43px;
    right: -29px;
    font-weight: bold;
    font-size: 20px;
    line-height: 121%;
    text-align: center;
    letter-spacing: 0.02em;
    background-color: #E30B17;
    color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 100%;

    span{
      position: absolute;
      bottom: 50px;
      right: 32px;
    }
  }

  @media (max-width: 1439px) {
    position: relative;
    align-items: flex-start;
    padding: 24px;
    padding-right: 0;
    overflow: hidden;

    &__info {
      margin-right: 165px;
    }

    &__title {
      margin-bottom: 16px;
      font-size: 26px;
    }

    &__desc {
      margin-bottom: 0;
      font-size: 17px;
    }

    &__picture {
      position: absolute;
      right: -22px;
      top: 20px;
      margin: 0;
    }
  }

  @media (max-width: 1023px) {
    &__info {
      margin-right: 120px;
    }

    &__picture {
      max-width: 138px;
    }
  }

  @media (max-width: 833px) {
    &__picture {
      max-width: 178px;
    }
  }

  @media (max-width: 499px) {
    &__info {
      margin-right: 0px;
    }

    &__picture {
      max-width: 107px;
      margin-right: 32px;
      position: initial;
    }

    &__title {
      font-size: 18px;
      margin-bottom: 100px;
    }

    .course-sail{
      position: absolute;
      margin: 0;
      top: -26px;
      right: -14px;
      font-weight: bold;
      font-size: 20px;
      line-height: 121%;
      text-align: center;
      letter-spacing: 0.02em;
      background-color: #E30B17;
      color: #fff;
      width: 78px;
      height: 78px;
      border-radius: 100%;
  
      span{
        position: absolute;
        bottom: 21px;
        right: 20px;
        font-size: 18px;
      }
    }
  }
}


// Анонc курса
.course-teaser {
  display: flex;
  align-items: center;
  background-color: var(--color-white);
  justify-content: space-between;
  width: 100%;

  &__info {
    margin-right: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    max-width: 355px;

    &-teser {
      ul{

        li{

          &::marker{
            font-size: 21px;
          }
        }
      }
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 32px;
    font-weight: bold;
    margin-left: 32px;
    font-size: 24px;
    line-height: 130%;
    font-weight: 500;
    letter-spacing: 0.02em;
  }
  
  &__desc {
    margin: 0;
    margin-bottom: 0;
    color: var(--color-dark-gray);
    line-height: 121%;
    letter-spacing: 0.02em;
    margin-left: 32px;
    margin-bottom: 28px;
  }

  &__picture {
    flex-shrink: 0;
    margin-left: 20px;
    max-width: 124px;
    margin-right: 32px;
    height: auto;
  }

  .teser-course {
    margin-top: 24px;
    margin-bottom: 21px;
    padding: 7px 33px;
    padding-left: 47px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    font-weight: 600;
    font-size: 17px;
    line-height: 121%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    background: linear-gradient(86.17deg, #53183E 0%, #361B48 10.29%, #222222 42.86%, #1D1C57 100%);
  }
  // Скидка
  .course-sail{
    position: absolute;
    margin: 0;
    bottom: -43px;
    right: -29px;
    font-weight: bold;
    font-size: 20px;
    line-height: 121%;
    text-align: center;
    letter-spacing: 0.02em;
    background-color: #E30B17;
    color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 100%;

    span{
      position: absolute;
      bottom: 50px;
      right: 32px;
    }
  }

  @media (max-width: 1439px) {
    position: relative;
    align-items: flex-start;
    padding-right: 0;
    overflow: hidden;

    &__info {
      margin-right: 165px;
    }

    &__title {
      margin-bottom: 16px;
      font-size: 26px;
    }

    &__desc {
      margin-bottom: 24px;
    }

    &__picture {
      position: absolute;
      right: -22px;
      top: 20px;
      margin: 0;
    }
  }

  @media (max-width: 1023px) {
    &__info {
      margin-right: 120px;
    }

    &__picture {
      max-width: 138px;
    }
  }

  @media (max-width: 833px) {
    &__picture {
      max-width: 178px;
    }
  }

  @media (max-width: 499px) {
    &__info {
      margin-right: 115px;
    }

    &__title {
      font-size: 18px;
      margin-left: 24px;
      margin-bottom: 19px;
    }

    &__desc {
      margin-left: 24px;
      margin-bottom: 24px;
    }


    &__picture {
      max-width: 107px;
    }

    .teser-course {
      margin-bottom: 24px;
    }

    .course-sail{
      position: absolute;
      margin: 0;
      top: -26px;
      right: -14px;
      font-weight: bold;
      font-size: 20px;
      line-height: 121%;
      text-align: center;
      letter-spacing: 0.02em;
      background-color: #E30B17;
      color: #fff;
      width: 78px;
      height: 78px;
      border-radius: 100%;
  
      span{
        position: absolute;
        bottom: 21px;
        right: 20px;
        font-size: 18px;
      }
    }
  }
}


// Купленный курс
.course-buy {
  display: flex;
  align-items: center;
  background-color: #171A2A;
  padding: 32px;
  width: 100%;

  &__info {
    margin-right: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    max-width: 355px;

    &-buy{
      p{
        margin-bottom: 27px;
        font-weight: normal;
        font-size: 17px;
        line-height: 121%;
        margin-top: 0px;
        color: #fff;
      }
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #fff;
  }
  
  &__desc {
    margin: 0;
    margin-bottom: 0;
    color: var(--color-dark-gray);
    line-height: 121%;
    letter-spacing: 0.02em;
    color: #fff;
  }

  &__picture {
    flex-shrink: 0;
    margin-left: 20px;
    max-width: 124px;
    margin-right: 0;
    height: auto;
  }

  @media (max-width: 1439px) {
    position: relative;
    align-items: flex-start;
    padding: 24px;
    padding-right: 0;
    overflow: hidden;

    &__info {
      margin-right: 165px;
    }

    &__title {
      margin-bottom: 16px;
      font-size: 26px;
    }

    &__desc {
      margin-bottom: 16px;
    }

    &__picture {
      position: absolute;
      right: -22px;
      top: 20px;
      margin: 0;
    }
  }

  @media (max-width: 1023px) {
    &__info {
      margin-right: 120px;
    }

    &__picture {
      max-width: 138px;
    }
  }

  @media (max-width: 833px) {
    &__picture {
      max-width: 178px;
    }
  }

  @media (max-width: 499px) {
    justify-content: space-between;

    &__info {
      margin-right: 0px;
      display: block;

      &-buy{
        p{
          margin-bottom: 24px;
        }
        margin-bottom: 37px;
      }
      max-width: 220px;
    }

    &__title {
      margin-bottom: 0px;
      font-size: 18px;
    }

    &__picture {
      align-self: center;
      position: static;
      max-width: 75px;
      margin-right: 17px;
    }

    &__desc {
      margin-bottom: 0;
    }
  }
}


// Купленный курс обновился
.course-buyupdate {
  display: flex;
  align-items: center;
  background-color: #171A2A;
  width: 100%;

  &__info {
    margin-right: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    max-width: 355px;

    &-buyupdate{
      .buyupdate-curse__mobile{
        display: none;
      }

      ul{
        margin-top: 24px;
        margin-bottom: 21px;
        padding: 7px 33px;
        padding-left: 47px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        background: #E30B17;
        max-width: 243px;

        li{
          font-weight: 600;
          font-size: 17px;
          line-height: 121%;
          letter-spacing: 0.02em;
          color: #FFFFFF;

          &::marker{
            font-size: 21px;
          }
        }
      }
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #fff;
    margin-left: 32px;
  }
  
  &__desc {
    margin: 0;
    margin-bottom: 0;
    color: var(--color-dark-gray);
    line-height: 121%;
    letter-spacing: 0.02em;
    color: #fff;
    margin-left: 32px;
    margin-bottom: 32px;
  }

  &__picture {
    flex-shrink: 0;
    margin-left: 20px;
    max-width: 124px;
    margin-right: 0;
    margin-right: 32px;
    height: auto;
  }

  @media (max-width: 1439px) {
    position: relative;
    align-items: flex-start;
    padding-right: 0;
    overflow: hidden;

    &__info {
      margin-right: 165px;
    }

    &__title {
      margin-bottom: 16px;
      font-size: 26px;
    }

    &__desc {
      margin-bottom: 32px;
    }

    &__picture {
      position: absolute;
      right: -22px;
      top: 20px;
      margin: 0;
    }
  }

  @media (max-width: 1023px) {
    &__info {
      margin-right: 120px;
    }

    &__picture {
      max-width: 138px;
    }
  }

  @media (max-width: 833px) {
    &__picture {
      max-width: 178px;
    }
  }

  @media (max-width: 499px) {
    justify-content: space-between;
    position: relative;

    &__info {
      margin-right: 0px;
      display: block;
      max-width: 244px;

      &-buyupdate{
        margin-bottom: 37px;
        ul{
          display: none;
          margin-bottom: 17px;
          li{
            font-size: 17px;

            &::marker{
              font-size: 21px;
            }
          }
        }

        .buyupdate-curse__mobile {
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          position: absolute;
          width: 100%;
          top: 17px;
          align-items: center;

          p{
            margin: 0;
            margin-left: 24px;

            font-weight: normal;
            font-size: 17px;
            line-height: 121%;
            letter-spacing: 0.02em;
            color: #FFFFFF;
          }

          ul {
            margin: 0;
            display: block;
            border-radius: 0;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;

            li {
              &::marker{
                font-size: 21px;
              }
            }
          }
        }
      }
    }

    &__title {
      margin-bottom: 0px;
      font-size: 18px;
      margin-left: 24px;
      margin-top: 69px;
    }

    &__picture {
      align-self: center;
      position: static;
      max-width: 75px;
      margin-right: 17px;
    }

    &__desc {
      margin-bottom: 24px;
      margin-left: 24px;
    }
  }
}

// Курс доступен для покупки
.course-new {
  display: flex;
  align-items: center;
  background-color: var(--color-white);
  padding: 32px;
  width: 100%;
  justify-content: space-between;

  &__info {
    margin-right: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    max-width: 300px;

    &-new{
      p{
        color: #E30B17;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 17px;
        line-height: 121%;
        letter-spacing: 0.02em;
        margin-top: 0;

        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;
        gap: 0 7px;

        &::after{
          content: " ";
          display: block;
          width: 8px;
          height: 8px;
          border-radius: 100%;
          background: #E30B17;
        }
      }
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    font-weight: 500;
    letter-spacing: 0.02em;
  }
  
  &__desc {
    margin: 0;
    margin-bottom: 0;
    color: var(--color-dark-gray);
    line-height: 121%;
    letter-spacing: 0.02em;
  }

  &__picture {
    flex-shrink: 0;
    margin-left: 20px;
    max-width: 124px;
    height: auto;
  }

  // Скидка
  .course-sail{
    position: absolute;
    margin: 0;
    bottom: -43px;
    right: -29px;
    font-weight: bold;
    font-size: 20px;
    line-height: 121%;
    text-align: center;
    letter-spacing: 0.02em;
    background-color: #E30B17;
    color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 100%;

    span{
      position: absolute;
      bottom: 50px;
      right: 32px;
    }
  }

  @media (max-width: 1439px) {
    position: relative;
    align-items: flex-start;
    padding: 24px;
    padding-right: 0;
    overflow: hidden;

    &__info {
      margin-right: 165px;
    }

    &__title {
      margin-bottom: 16px;
      font-size: 26px;
    }

    &__desc {
      margin-bottom: 16px;
    }

    &__picture {
      position: absolute;
      right: -22px;
      top: 20px;
      margin: 0;
    }
  }

  @media (max-width: 1023px) {
    &__info {
      margin-right: 120px;
    }

    &__picture {
      max-width: 138px;
    }
  }

  @media (max-width: 833px) {
    &__picture {
      max-width: 178px;
    }
  }

  @media (max-width: 499px) {
    &__info {
      margin-right: 115px;

      &-new{

        p{
          margin-top: 0;
          margin-bottom: 24px;
        }
      }
    }

    &__desc {
      margin-bottom: 0;
    }

    &__picture {
      max-width: 138px;

      bottom: -10px;
    }

    &__title {
      font-size: 18px;
      margin-bottom: 33px;
    }

    .course-sail{
      position: absolute;
      margin: 0;
      top: -26px;
      right: -14px;
      font-weight: bold;
      font-size: 20px;
      line-height: 121%;
      text-align: center;
      letter-spacing: 0.02em;
      background-color: #E30B17;
      color: #fff;
      width: 78px;
      height: 78px;
      border-radius: 100%;
  
      span{
        position: absolute;
        bottom: 21px;
        right: 20px;
      }
    }

    &__picture {
      position: absolute;
      right: -42px;
      bottom: -18px;
      top: initial;
      margin: 0;
    }
  }
}



// обновленный старый курс/обновленный старый курс со скидкой
.course-update {
  display: flex;
  align-items: center;
  background-color: var(--color-white);
  width: 100%;
  justify-content: space-between;

  &__info {
    margin-right: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    max-width: 300px;

    &-update{
      ul{
        margin-top: 24px;
        margin-bottom: 21px;
        padding: 7px 33px;
        padding-left: 47px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        background: #E30B17;
        max-width: 198px;
        width: fit-content;

        li{
          font-weight: 600;
          font-size: 17px;
          line-height: 121%;
          letter-spacing: 0.02em;
          color: #FFFFFF;

          &::marker{
            font-size: 21px;
          }
        }
      }
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    font-weight: 500;
    letter-spacing: 0.02em;
    margin-left: 32px;
    margin-bottom: 32px;
  }
  
  &__desc {
    margin: 0;
    margin-bottom: 0;
    color: var(--color-dark-gray);
    line-height: 121%;
    letter-spacing: 0.02em;
    margin-left: 32px;
    margin-bottom: 32px;
  }

  &__picture {
    flex-shrink: 0;
    margin-left: 20px;
    max-width: 124px;
    margin-right: 32px;
    height: auto;
  }

  // Скидка
  .course-sail{
    position: absolute;
    margin: 0;
    bottom: -43px;
    right: -29px;
    font-weight: bold;
    font-size: 20px;
    line-height: 121%;
    text-align: center;
    letter-spacing: 0.02em;
    background-color: #E30B17;
    color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 100%;

    span{
      position: absolute;
      bottom: 50px;
      right: 32px;
      font-size: 18px;
    }
  }

  @media (max-width: 1439px) {
    position: relative;
    align-items: flex-start;
    padding-right: 0;
    overflow: hidden;

    &__info {
      margin-right: 165px;
    }

    &__title {
      margin-bottom: 16px;
      font-size: 26px;
    }

    &__desc {
      margin-bottom: 32px;
    }

    &__picture {
      position: absolute;
      right: -22px;
      top: 20px;
      margin: 0;
      // margin-right: 0px;
    }
  }

  @media (max-width: 1023px) {
    &__info {
      margin-right: 120px;
    }

    &__picture {
      max-width: 138px;
    }
  }

  @media (max-width: 833px) {
    &__picture {
      max-width: 178px;
    }
  }

  @media (max-width: 499px) {
    &__info {
      margin-right: 115px;

      &-update{
        ul{
          margin-bottom: 24px;
        }
      }
    }

    &__picture {
      max-width: 107px;
      position: absolute;
      right: -42px;
      top: 20px;
      margin: 0;
      margin-right: 32px;
    }

    &__title {
      font-size: 18px;
      margin-bottom: 19px;
    }

    &__desc {
      margin-bottom: 24px;
    }

    .course-sail{
      position: absolute;
      margin: 0;
      top: -26px;
      right: -14px;
      font-weight: bold;
      font-size: 20px;
      line-height: 121%;
      text-align: center;
      letter-spacing: 0.02em;
      background-color: #E30B17;
      color: #fff;
      width: 78px;
      height: 78px;
      border-radius: 100%;
  
      span{
        position: absolute;
        bottom: 21px;
        right: 20px;
        font-size: 18px;
      }
    }
  }
}

// Демо курс
.course-demo {
  display: flex;
  align-items: center;
  background-color: var(--color-white);
  width: 100%;
  justify-content: space-between;

  &__info {
    margin-right: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    max-width: 300px;

    &-demo{
      ul{
        margin-top: 24px;
        margin-bottom: 21px;
        padding: 7px 33px;
        padding-left: 47px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        background: #2E67AA;
        max-width: 198px;
        width: fit-content;

        li{
          font-weight: 600;
          font-size: 17px;
          line-height: 121%;
          letter-spacing: 0.02em;
          color: #FFFFFF;

          &::marker{
            font-size: 21px;
          }
        }
      }
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    font-weight: 500;
    letter-spacing: 0.02em;
    margin-left: 32px;
    margin-bottom: 32px;
  }
  
  &__desc {
    margin: 0;
    margin-bottom: 0;
    color: var(--color-dark-gray);
    line-height: 121%;
    letter-spacing: 0.02em;
    margin-left: 32px;
    margin-bottom: 32px;
  }

  &__picture {
    flex-shrink: 0;
    margin-left: 20px;
    max-width: 124px;
    margin-right: 32px;
    height: auto;
  }

  // Скидка
  .course-sail{
    position: absolute;
    margin: 0;
    bottom: -43px;
    right: -29px;
    font-weight: bold;
    font-size: 20px;
    line-height: 121%;
    text-align: center;
    letter-spacing: 0.02em;
    background-color: #E30B17;
    color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 100%;

    span{
      position: absolute;
      bottom: 50px;
      right: 32px;
    }
  }

  @media (max-width: 1439px) {
    position: relative;
    align-items: flex-start;
    padding-right: 0;
    overflow: hidden;

    &__info {
      margin-right: 165px;
    }

    &__title {
      margin-bottom: 16px;
      font-size: 26px;
    }

    &__desc {
      margin-bottom: 32px;
    }

    &__picture {
      position: absolute;
      right: -22px;
      top: 20px;
      margin: 0;
    }
  }

  @media (max-width: 1023px) {
    &__info {
      margin-right: 120px;
    }

    &__picture {
      max-width: 138px;
    }
  }

  @media (max-width: 833px) {
    &__picture {
      max-width: 178px;
    }
  }

  @media (max-width: 499px) {
    &__info {
      margin-right: 115px;

      &-demo {

        ul{
          margin-bottom: 24px;
          li{

          }
        }
      }
    }

    &__title {
      font-size: 18px;
      margin-left: 24px;
    }

    &__desc {
      margin-left: 24px;
    }

    &__picture {
      max-width: 107px;
      position: absolute;
      right: -10px;
      top: 20px;
      margin: 0;
    }

    .course-sail{
      position: absolute;
      margin: 0;
      top: -30px;
      right: -29px;
      font-weight: bold;
      font-size: 20px;
      line-height: 121%;
      text-align: center;
      letter-spacing: 0.02em;
      background-color: #E30B17;
      color: #fff;
      width: 100px;
      height: 100px;
      border-radius: 100%;
  
      span{
        position: absolute;
        bottom: 38px;
        right: 32px;
      }
    }
  }
}
