article.event-card
  button.event-card__notice(type="button" aria-label="Уведомление вкючено")
    svg(class="icon" width="20" height="20")
      use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#bell")

  header.event-card__header
    p.event-card__type.event-card__type_color_blue Вебинар
    p.event-card__status В эфире
  h4.event-card__title Инвестирование в ценные бумаги
  p.event-card__time
    span.event-card__time-start 17:00
    span.event-card__time-divider -
    span.event-card__time-end 21:00
    span по МСК
  p.event-card__desc Бесплатные уроки с ценностью<br>1 000 000 000 рублей
