section.tresult
    .container
        .tresult__mission Миссия TrendUp - сделать людей финансово грамотными и свободными. Развиваем культуру инвестирования в России.
        .tresult__stats
            h2.tresult__stats-title TrendUP - это результат
            .tresult__stats-container
                .tresult__stats-container-item
                    .tresult__stats-container-item-number 5 000
                    .tresult__stats-container-item-people человек
                    .tresult__stats-container-item-description Прошли наши обучающие курсы
                .tresult__stats-container-item
                    .tresult__stats-container-item-number 10 000
                    .tresult__stats-container-item-people человек
                    .tresult__stats-container-item-description Посетили наши бесплатные вебинары
                .tresult__stats-container-item
                    .tresult__stats-container-item-number 20 000
                    .tresult__stats-container-item-people человек
                    .tresult__stats-container-item-description Пользователей на платформе
                .tresult__stats-container-item
                    .tresult__stats-container-item-number 70 000
                    .tresult__stats-container-item-people человек
                    .tresult__stats-container-item-description В наших социальных сетях
    
    
        
