section.more
    .container
        h2.more-title Узнайте о нас больше
        .more__container
            .more__container-item(style="background-image: url('../wp-content/themes/trading/august/img/vacancies.png')")
                .more__container-item-icon
                    svg( width="16" height="16")
                        use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#award")
                    
                .more__container-item-title Вакансии
                a.more__container-item-link Подробнее >
                
            .more__container-item(style="background-image: url('../wp-content/themes/trading/august/img/webinars.png')")
                .more__container-item-icon
                    svg( width="16" height="16")
                        use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#tv")
                    
                .more__container-item-title Вебинары
                a.more__container-item-link Подробнее >
                
            .more__container-item(style="background-image: url('../wp-content/themes/trading/august/img/learn.png')")
                .more__container-item-icon
                    svg( width="16" height="16")
                        use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#edit-3")
                    
                .more__container-item-title Обучение
                a.more__container-item-link Подробнее >
                
            .more__container-item(style="background-image: url('../wp-content/themes/trading/august/img/reviews.png')")
                .more__container-item-icon
                    svg( width="16" height="16")
                        use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#heart")
                    
                .more__container-item-title Отзывы
                a.more__container-item-link Подробнее >
                
            .more__container-item(style="background-image: url('../wp-content/themes/trading/august/img/contacts.png')")
                .more__container-item-icon
                    svg( width="16" height="16")
                        use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#phone")
                    
                .more__container-item-title Контакты
                a.more__container-item-link Подробнее >
                
            .more__container-item(style="background-image: url('../wp-content/themes/trading/august/img/experts.png')")
                .more__container-item-icon
                    svg( width="16" height="16")
                        use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#thumbs-up")
                    
                .more__container-item-title Эксперты
                a.more__container-item-link Подробнее >

    