section.quiz-test
  ol.quiz-test__navigate
    li.quiz-test__navigate-item
      button.quiz-test__navigate-btn.quiz-test__navigate-btn_wrong(type="button") 1
    li.quiz-test__navigate-item
      button.quiz-test__navigate-btn.quiz-test__navigate-btn_correctly(type="button") 2
    li.quiz-test__navigate-item
      button.quiz-test__navigate-btn.quiz-test__navigate-btn_correctly(type="button") 3
    li.quiz-test__navigate-item
      button.quiz-test__navigate-btn.quiz-test__navigate-btn_correctly(type="button") 4
    li.quiz-test__navigate-item
      button.quiz-test__navigate-btn.quiz-test__navigate-btn_correctly(type="button") 5
    li.quiz-test__navigate-item
      button.quiz-test__navigate-btn.quiz-test__navigate-btn_correctly(type="button") 6
    li.quiz-test__navigate-item
      button.quiz-test__navigate-btn.quiz-test__navigate-btn_correctly(type="button") 7
    li.quiz-test__navigate-item
      button.quiz-test__navigate-btn.quiz-test__navigate-btn_correctly(type="button") 8
    li.quiz-test__navigate-item
      button.quiz-test__navigate-btn.quiz-test__navigate-btn_wrong(type="button") 9
    li.quiz-test__navigate-item
      button.quiz-test__navigate-btn.quiz-test__navigate-btn_wrong(type="button") 10
    li.quiz-test__navigate-item
      button.quiz-test__navigate-btn(type="button" disabled) 11
    li.quiz-test__navigate-item
      button.quiz-test__navigate-btn(type="button" disabled) 12
    li.quiz-test__navigate-item
      button.quiz-test__navigate-btn(type="button" disabled) 13
    li.quiz-test__navigate-item
      button.quiz-test__navigate-btn(type="button" disabled) 14

  .quiz-test__question
    h2.quiz-test__question-title Задание 1

    p.quiz-test__question-question Как уже отмечалось, технология коммуникации означает сет. Полиряд Как уже отмечалось, технология коммуникации означает сет?

  .quiz-test__answers
    .quiz-test__answer
      label.field-radio.quiz-test__answer-control
        input.field-radio__input(type="radio" name="one" checked)
        span.field-radio__box
        span.field-radio__label Как уже отмечалось, технология коммуникации означает сет.

    .quiz-test__answer
      label.field-radio.quiz-test__answer-control
        input.field-radio__input(type="radio" name="one")
        span.field-radio__box
        span.field-radio__label Как уже отмечалось, технология коммуникации означает сет.

    .quiz-test__answer
      label.field-radio.quiz-test__answer-control
        input.field-radio__input(type="radio" name="one")
        span.field-radio__box
        span.field-radio__label Как уже отмечалось, технология коммуникации означает сет.

    .quiz-test__answer
      label.field-radio.quiz-test__answer-control
        input.field-radio__input(type="radio" name="one")
        span.field-radio__box
        span.field-radio__label Как уже отмечалось, технология коммуникации означает сет.

  button.quiz-test__reply.btn-primary(type="button") Ответить
