section.training-program(id="training-program")
  .training-program__inner.container
    h2.section-title Программа обучения

    p.training-program__desc Акции Tesla выросли на +649% за 1 год! Научитесь видеть такие тренды и возможности для инвестирования следуя нашей программе

    .accordion.training-program__list
      .accordion-item.training-program__item
        button.accordion-button.training-program__item-button(type="button" data-bs-toggle="collapse" data-bs-target="#training-1")
          span.training-program__item-info
            span.training-program__item-title Первые шаги
            span.training-program__item-subtitle 6 уроков

          +icon("plus-circle", "training-program__item-plus-circle")

        .accordion-collapse.collapse.show(id="training-1")
          .accordion-body.training-program__item-body
            ol.training-program__topics
              li.training-program__topics-item Вы через 5 лет. Инвестировать или нет?
              li.training-program__topics-item Структура биржи
              li.training-program__topics-item Как выбрать брокера
              li.training-program__topics-item Инвестиции через телефон
              li.training-program__topics-item Программа для инвестиций на ПК
              li.training-program__topics-item Открытие, закрытие и отмена сделок на бирже

      .accordion-item.training-program__item
        button.accordion-button.collapsed.training-program__item-button(type="button" data-bs-toggle="collapse" data-bs-target="#training-2")
          span.training-program__item-info
            span.training-program__item-title Во что мы инвестируем
            span.training-program__item-subtitle 3 урока

          +icon("plus-circle", "training-program__item-plus-circle")

        .accordion-collapse.collapse(id="training-2")
          .accordion-body.training-program__item-body
            ol.training-program__topics
              li.training-program__topics-item Инвестируем в бизнес. Акции
              li.training-program__topics-item Инвестиции в за границу. Депозитарные расписки
              li.training-program__topics-item Кредитуем компании. Облигации

      .accordion-item.training-program__item
        button.accordion-button.collapsed.training-program__item-button(type="button" data-bs-toggle="collapse" data-bs-target="#training-3")
          span.training-program__item-info
            span.training-program__item-title Фундамент прибыльных инвестиций
            span.training-program__item-subtitle 9 уроков

          +icon("plus-circle", "training-program__item-plus-circle")

        .accordion-collapse.collapse(id="training-3")
          .accordion-body.training-program__item-body
            ol.training-program__topics
              li.training-program__topics-item Инструменты на бирже и их доходность
              li.training-program__topics-item Яйца по корзинам. Диверсификация
              li.training-program__topics-item Оценка компаний
              li.training-program__topics-item Оценка стоимости акций по прибыли
              li.training-program__topics-item Оценка стоимости акций по капиталу
              li.training-program__topics-item Оценка стоимости акций по дивидендам
              li.training-program__topics-item Метод отбора облигаций
              li.training-program__topics-item Определение личного риск-профиля
              li.training-program__topics-item Формирование инвестиционного портфеля

      .accordion-item.training-program__item.training-program__item_hide
        button.accordion-button.collapsed.training-program__item-button(type="button" data-bs-toggle="collapse" data-bs-target="#training-4")
          span.training-program__item-info
            span.training-program__item-title Дивидендная стратегия
            span.training-program__item-subtitle 4 урока

          +icon("plus-circle", "training-program__item-plus-circle")

        .accordion-collapse.collapse(id="training-4")
          .accordion-body.training-program__item-body
            ol.training-program__topics
              li.training-program__topics-item Стратегия дивидендных бумаг. Теория
              li.training-program__topics-item Стратегия дивидендных бумаг. Практика
              li.training-program__topics-item Формула будущей стоимости денег
              li.training-program__topics-item Снежный ком. Как быстро нарастить свой капитал за счет сложного процента

      .accordion-item.training-program__item.training-program__item_hide
        button.accordion-button.collapsed.training-program__item-button(type="button" data-bs-toggle="collapse" data-bs-target="#training-5")
          span.training-program__item-info
            span.training-program__item-title Стратегия на отскок
            span.training-program__item-subtitle 2 урока

          +icon("plus-circle", "training-program__item-plus-circle")

        .accordion-collapse.collapse(id="training-5")
          .accordion-body.training-program__item-body
            ol.training-program__topics
              li.training-program__topics-item Стратегия на отскок. Теория
              li.training-program__topics-item Стратегия на отскок. Практика

      .accordion-item.training-program__item.training-program__item_hide
        button.accordion-button.collapsed.training-program__item-button(type="button" data-bs-toggle="collapse" data-bs-target="#training-6")
          span.training-program__item-info
            span.training-program__item-title Стратегия. Торговля на новостях
            span.training-program__item-subtitle 2 урока

          +icon("plus-circle", "training-program__item-plus-circle")

        .accordion-collapse.collapse(id="training-6")
          .accordion-body.training-program__item-body
            ol.training-program__topics
              li.training-program__topics-item Покупка акций на новостях. Теория
              li.training-program__topics-item Покупка акций на новостях. Практика

      .accordion-item.training-program__item.training-program__item_hide
        button.accordion-button.collapsed.training-program__item-button(type="button" data-bs-toggle="collapse" data-bs-target="#training-7")
          span.training-program__item-info
            span.training-program__item-title Стратегия. Сделки инсайдеров
            span.training-program__item-subtitle 2 урока

          +icon("plus-circle", "training-program__item-plus-circle")

        .accordion-collapse.collapse(id="training-7")
          .accordion-body.training-program__item-body
            ol.training-program__topics
              li.training-program__topics-item Стратегия инсайдеров. Теория
              li.training-program__topics-item Стратегия инсайдеров. Практика

      .accordion-item.training-program__item.training-program__item_hide
        button.accordion-button.collapsed.training-program__item-button(type="button" data-bs-toggle="collapse" data-bs-target="#training-8")
          span.training-program__item-info
            span.training-program__item-title Собираем инвестиционный портфель + дополнительные фишки
            span.training-program__item-subtitle 4 урока

          +icon("plus-circle", "training-program__item-plus-circle")

        .accordion-collapse.collapse(id="training-8")
          .accordion-body.training-program__item-body
            ol.training-program__topics
              li.training-program__topics-item Инвестируем в долларах
              li.training-program__topics-item Легальный уход от налогов +52 000 руб на счет бонусом
              li.training-program__topics-item Виды инвесторов. Как и зачем получать профессиональный статус
              li.training-program__topics-item Выбор стратегии и составление инвестиционного портфеля

    button.training-program__show-more.btn-outline Смотреть полностью
