section.training-program(id="training-program")
  .training-program__inner.container
    h2.section-title Нам часто задают вопросы

    p.training-program__desc Посмотрите ответы на самые часто-задаваемые вопросы и убедитесь, что команда TrendUP работает с любовью!

    .accordion.training-program__list
      .accordion-item.training-program__item
        button.accordion-button.training-program__item-button(type="button" data-bs-toggle="collapse" data-bs-target="#training-1")
          span.training-program__item-info
            span.training-program__item-title Вы являетесь брокером?

          +icon("plus-circle", "training-program__item-plus-circle")

        .accordion-collapse.collapse.show(id="training-1")
          .accordion-body.training-program__item-body
            .training-program__block Посмотрите ответы на самые часто-задаваемые вопросы и убедитесь, что команда TrendUP работает с любовью! Посмотрите ответы на самые часто-задаваемые вопросы и убедитесь, что команда TrendUP работает с любовью! Посмотрите ответы на самые часто-задаваемые вопросы и убедитесь, что команда TrendUP работает с любовью!
            .training-program__block Посмотрите ответы на самые часто-задаваемые вопросы и убедитесь, что команда TrendUP работает с любовью! Посмотрите ответы на самые часто-задаваемые вопросы и убедитесь, что команда TrendUP работает с любовью!


      .accordion-item.training-program__item
        button.accordion-button.collapsed.training-program__item-button(type="button" data-bs-toggle="collapse" data-bs-target="#training-2")
          span.training-program__item-info
            span.training-program__item-title У преподавателей есть лицензии?

          +icon("plus-circle", "training-program__item-plus-circle")

        .accordion-collapse.collapse(id="training-2")
          .accordion-body.training-program__item-body
            .training-program__block Посмотрите ответы на самые часто-задаваемые вопросы и убедитесь, что команда TrendUP работает с любовью! Посмотрите ответы на самые часто-задаваемые вопросы и убедитесь, что команда TrendUP работает с любовью! Посмотрите ответы на самые часто-задаваемые вопросы и убедитесь, что команда TrendUP работает с любовью!
            .training-program__block Посмотрите ответы на самые часто-задаваемые вопросы и убедитесь, что команда TrendUP работает с любовью! Посмотрите ответы на самые часто-задаваемые вопросы и убедитесь, что команда TrendUP работает с любовью!

      .accordion-item.training-program__item
        button.accordion-button.collapsed.training-program__item-button(type="button" data-bs-toggle="collapse" data-bs-target="#training-3")
          span.training-program__item-info
            span.training-program__item-title Обучение платное или бесплатное?

          +icon("plus-circle", "training-program__item-plus-circle")

        .accordion-collapse.collapse(id="training-3")
          .accordion-body.training-program__item-body
            .training-program__block Посмотрите ответы на самые часто-задаваемые вопросы и убедитесь, что команда TrendUP работает с любовью! Посмотрите ответы на самые часто-задаваемые вопросы и убедитесь, что команда TrendUP работает с любовью! Посмотрите ответы на самые часто-задаваемые вопросы и убедитесь, что команда TrendUP работает с любовью!
            .training-program__block Посмотрите ответы на самые часто-задаваемые вопросы и убедитесь, что команда TrendUP работает с любовью! Посмотрите ответы на самые часто-задаваемые вопросы и убедитесь, что команда TrendUP работает с любовью!

      .accordion-item.training-program__item.training-program__item_hide
        button.accordion-button.collapsed.training-program__item-button(type="button" data-bs-toggle="collapse" data-bs-target="#training-4")
          span.training-program__item-info
            span.training-program__item-title Вы являетесь брокером?

          +icon("plus-circle", "training-program__item-plus-circle")

        .accordion-collapse.collapse(id="training-4")
          .accordion-body.training-program__item-body
            .training-program__topics


      .accordion-item.training-program__item.training-program__item_hide
        button.accordion-button.collapsed.training-program__item-button(type="button" data-bs-toggle="collapse" data-bs-target="#training-5")
          span.training-program__item-info
            span.training-program__item-title У преподавателей есть лицензии?

          +icon("plus-circle", "training-program__item-plus-circle")

        .accordion-collapse.collapse(id="training-5")
          .accordion-body.training-program__item-body
            .training-program__block Посмотрите ответы на самые часто-задаваемые вопросы и убедитесь, что команда TrendUP работает с любовью! Посмотрите ответы на самые часто-задаваемые вопросы и убедитесь, что команда TrendUP работает с любовью! Посмотрите ответы на самые часто-задаваемые вопросы и убедитесь, что команда TrendUP работает с любовью!
            .training-program__block Посмотрите ответы на самые часто-задаваемые вопросы и убедитесь, что команда TrendUP работает с любовью! Посмотрите ответы на самые часто-задаваемые вопросы и убедитесь, что команда TrendUP работает с любовью!

      .accordion-item.training-program__item.training-program__item_hide
        button.accordion-button.collapsed.training-program__item-button(type="button" data-bs-toggle="collapse" data-bs-target="#training-6")
          span.training-program__item-info
            span.training-program__item-title Обучение платное или бесплатное?

          +icon("plus-circle", "training-program__item-plus-circle")

        .accordion-collapse.collapse(id="training-6")
          .accordion-body.training-program__item-body
            .training-program__block Посмотрите ответы на самые часто-задаваемые вопросы и убедитесь, что команда TrendUP работает с любовью! Посмотрите ответы на самые часто-задаваемые вопросы и убедитесь, что команда TrendUP работает с любовью! Посмотрите ответы на самые часто-задаваемые вопросы и убедитесь, что команда TrendUP работает с любовью!
            .training-program__block Посмотрите ответы на самые часто-задаваемые вопросы и убедитесь, что команда TrendUP работает с любовью! Посмотрите ответы на самые часто-задаваемые вопросы и убедитесь, что команда TrendUP работает с любовью!

    button.training-program__show-more.btn-outline Смотреть полностью
