.container-index {
  margin: 0 auto;
  padding: 0 64px;
  max-width: 1254px;
  width: 100%;
  box-sizing: border-box;

  @media (max-width: 1023px) {
    padding: 0 48px;
  }

  @media (max-width: 833px) {
    padding: 0 32px;
    max-width: 500px;
  }
}
