.container {
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 48px;
  max-width: 1216px;
  width: 100%;
  box-sizing: border-box;

  @media (max-width: 1664px) {
    margin-left: 0;
    margin-right: 0;
  }

  @media (max-width: 1439px) {
    margin-left: auto;
    margin-right: auto;
    padding-left: 34px;
    padding-right: 64px;
  }

  @media (max-width: 1023px) {
    padding: 0 48px;
  }

  @media (max-width: 833px) {
    padding: 0 32px;
  }

  &_size_lg {
    padding-left: 15px;
    padding-right: 15px;

    @media (max-width: 1439px) {
      padding-left: 12px;
      padding-right: 36px;
    }

    @media (max-width: 1023px) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  @media (max-width: 413px) {
    padding: 0 24px;
  }
}
