article.tariff
  h3.tariff__title Самостоятельный

  ul.tariff__list
    li.tariff__list-item Доступ к базе знаний азеДоступ ке
    li.tariff__list-item Доступ к базе
    li.tariff__list-item Доступ к базе знаний азеДоступ ке
    li.tariff__list-item Доступ к базе

  footer.tariff__footer
    p.tariff__price
      span.tariff__price-label Цена:
      span.tariff__price-current 12 000 ₽
      span.tariff__price-old 38 000 ₽

    .tariff__bottom
      button.btn-light(type="button") Записаться
