.events-calendar__month-wrapper
  table.events-calendar__month
    thead
      tr.events-calendar__month-title
        th.events-calendar__month-th Пн
        th.events-calendar__month-th Вт
        th.events-calendar__month-th Ср
        th.events-calendar__month-th чт
        th.events-calendar__month-th пт
        th.events-calendar__month-th сб
        th.events-calendar__month-th вс
    tbody
      tr.events-calendar__month-week
        td.events-calendar__month-day 26
        td.events-calendar__month-day 27
        td.events-calendar__month-day 28
        td.events-calendar__month-day 29
        td.events-calendar__month-day 30
        td.events-calendar__month-day 31
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 01
      tr.events-calendar__month-week
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 02
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 03
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 04
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 05
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 06
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 07
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 08
      tr.events-calendar__month-week
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 09
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 10
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 11
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 12
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 13
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 14
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 15
      tr.events-calendar__month-week
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 16
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 17
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 18
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 19
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 20
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 21
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 22
      tr.events-calendar__month-week
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 23
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 24
        td.events-calendar__month-day
          button.events-calendar__month-day-btn(data-date="2021-8-25") 25
          span.events-calendar__month-marks
            span.events-calendar__month-mark.events-calendar__month-mark_color_orange
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 26
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 27
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 28
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 29
      tr.events-calendar__month-week
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 30
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 31
        td.events-calendar__month-day 01
        td.events-calendar__month-day 02
        td.events-calendar__month-day 03
        td.events-calendar__month-day 04
        td.events-calendar__month-day 05
