.events-calendar__month-wrapper
  table.events-calendar__month
    thead
      tr.events-calendar__month-title
        th.events-calendar__month-th Пн
        th.events-calendar__month-th Вт
        th.events-calendar__month-th Ср
        th.events-calendar__month-th чт
        th.events-calendar__month-th пт
        th.events-calendar__month-th сб
        th.events-calendar__month-th вс
    tbody
      tr.events-calendar__month-week
        td.events-calendar__month-day 28
        td.events-calendar__month-day 29
        td.events-calendar__month-day 30
        td.events-calendar__month-day
          button.events-calendar__month-day-btn(
            data-date="2021-7-1"
          ) 01
        td.events-calendar__month-day
          button.events-calendar__month-day-btn(data-date="2021-7-2") 02
          span.events-calendar__month-marks
            span.events-calendar__month-mark.events-calendar__month-mark_color_orange
        td.events-calendar__month-day
          button.events-calendar__month-day-btn.events-calendar__month-day-btn_current(
            data-date="2021-7-3"
          ) 03
          span.events-calendar__month-marks
            span.events-calendar__month-mark.events-calendar__month-mark_color_blue
            span.events-calendar__month-mark.events-calendar__month-mark_color_yellow
            span.events-calendar__month-mark.events-calendar__month-mark_color_orange
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 04
      tr.events-calendar__month-week
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 05
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 06
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 07
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 08
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 09
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 10
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 11
      tr.events-calendar__month-week
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 12
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 13
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 14
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 15
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 16
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 17
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 18
      tr.events-calendar__month-week
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 19
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 20
        td.events-calendar__month-day
          button.events-calendar__month-day-btn(data-date="2021-7-21") 21
          span.events-calendar__month-marks
            span.events-calendar__month-mark.events-calendar__month-mark_color_blue
            span.events-calendar__month-mark.events-calendar__month-mark_color_yellow
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 22
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 23
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 24
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 25
      tr.events-calendar__month-week
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 26
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 27
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 28
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 29
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 30
        td.events-calendar__month-day
          button.events-calendar__month-day-btn 31
        td.events-calendar__month-day 01
