section.wiki
  .container
    h1.wiki__title База знаний

    .wiki__items
      .wiki__items-item 
        p Брокерский счет
        a(href="#") Подробнее
      .wiki__items-item 
        p Пифы
        a(href="#") Подробнее
      .wiki__items-item   
        p ИИС
        a(href="#") Подробнее
      .wiki__items-item   
        p Ценные бумаги
        a(href="#") Подробнее
      .wiki__items-item 
        p Налоги
        a(href="#") Подробнее
