article.account-course-card
  a.account-course-card__link(
    href="#"
    style="background-image: url('../wp-content/themes/trading/august/img/account-course-card/account-course-card.svg')"
  )
    h3.account-course-card__title Бесплатные уроки с ценностью на 1 000 000 рублей

    span.account-course-card__label
      svg(class="account-course-card__label-icon icon" width="17" height="17")
        use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#file-video")
      | Марафон
