section.learning-programm
    .container
        h2 Программы обучения
    .container.account-navigation_without_padding
        .account-navigation__container
            a.account-navigation__container-item.account-navigation_active Курсы
            a.account-navigation__container-item Подписки
            a.account-navigation__container-item Инструменты
            a.account-navigation__container-item Услуги
    .container
        .learning-programm__container
            .learning-programm__container-item
                article.course-card
                    .course-card__info
                        h3.course-card__title Бесплатные уроки с ценностью на 1 000 000 рублей сегодня
                        p.course-card__desc 32 урока

                    img.course-card__picture(src="wp-content/themes/trading/august/img/investment.svg" alt="flag usa" width="176" height="200")
            .learning-programm__container-item
                article.course-card
                    .course-card__info
                      h3.course-card__title Бесплатные уроки с ценностью на 1 000 000 рублей сегодня
                      p.course-card__desc 32 урока

                    img.course-card__picture(src="wp-content/themes/trading/august/img/investment.svg" alt="flag usa" width="176" height="200")
                    p.course-sail
                      span 50%  
            .learning-programm__container-item
                article.course-teaser
                    .course-teaser__info
                      .course-teaser__info-teser
                        ul.teser-course 
                          li Стартуем 21 сентября
                        h3.course-teaser__title Бесплатные уроки с ценностью на 1 000 000 рублей сегодня
                      p.course-teaser__desc 32 урока

                    img.course-teaser__picture(src="wp-content/themes/trading/august/img/investment.svg" alt="flag usa" width="176" height="200") 
            .learning-programm__container-item
                article.course-teaser
                    .course-teaser__info
                      .course-teaser__info-teser
                        ul.teser-course 
                          li Стартуем 21 сентября
                        h3.course-teaser__title Бесплатные уроки с ценностью на 1 000 000 рублей сегодня
                      p.course-teaser__desc 32 урока

                    img.course-teaser__picture(src="wp-content/themes/trading/august/img/investment.svg" alt="flag usa" width="176" height="200") 
                    p.course-sail
                      span 50%  

            .learning-programm__container-item
                article.course-buy
                    .course-buy__info
                      .course-buy__info-buy
                        p Мой курс
                        h3.course-buy__title Бесплатные уроки с ценностью на 1 000 000 рублей сегодня
                      p.course-buy__desc 32 урока

                    img.course-buy__picture(src="wp-content/themes/trading/august/img/investment.svg" alt="flag usa" width="176" height="200") 

            .learning-programm__container-item
                article.course-buyupdate
                    .course-buyupdate__info
                      .course-buyupdate__info-buyupdate
                        ul.buyupdate-curse 
                          li Мой курс обновлен
                        .buyupdate-curse__mobile 
                          p мой курс
                          ul.buyupdate-curse 
                            li Обновленный
                        h3.course-buyupdate__title Бесплатные уроки с ценностью на 1 000 000 рублей сегодня
                      p.course-buyupdate__desc 32 урока

                    img.course-buyupdate__picture(src="wp-content/themes/trading/august/img/investment.svg" alt="flag usa" width="176" height="200") 

            .learning-programm__container-item
                article.course-new
                    .course-new__info
                      .course-new__info-new
                        p New
                        h3.course-new__title Бесплатные уроки с ценностью на 1 000 000 рублей сегодня
                      p.course-new__desc 32 урока

                    img.course-new__picture(src="wp-content/themes/trading/august/img/investment.svg" alt="flag usa" width="176" height="200") 

            .learning-programm__container-item
                article.course-new
                    .course-new__info
                      .course-new__info-new
                        p New
                        h3.course-new__title Бесплатные уроки с ценностью на 1 000 000 рублей сегодня
                      p.course-new__desc 32 урока

                    img.course-new__picture(src="wp-content/themes/trading/august/img/investment.svg" alt="flag usa" width="176" height="200") 
                    p.course-sail
                      span 50%  

            .learning-programm__container-item
                article.course-update
                    .course-update__info
                      .course-update__info-update
                        ul.update-curse 
                          li Обновленный
                        h3.course-update__title Бесплатные уроки с ценностью на 1 000 000 рублей сегодня
                      p.course-update__desc 32 урока

                    img.course-update__picture(src="wp-content/themes/trading/august/img/investment.svg" alt="flag usa" width="176" height="200") 

            .learning-programm__container-item
                article.course-update
                    .course-update__info
                      .course-update__info-update
                        ul.update-curse 
                          li Обновленный
                        h3.course-update__title Бесплатные уроки с ценностью на 1 000 000 рублей сегодня
                      p.course-update__desc 32 урока

                    img.course-update__picture(src="wp-content/themes/trading/august/img/investment.svg" alt="flag usa" width="176" height="200") 
                    p.course-sail
                      span 50% 

            .learning-programm__container-item
                article.course-demo
                    .course-demo__info
                      .course-demo__info-demo
                        ul.demo-curse 
                          li Демо - доступ
                        h3.course-demo__title Бесплатные уроки с ценностью на 1 000 000 рублей сегодня
                      p.course-demo__desc 32 урока

                    img.course-demo__picture(src="wp-content/themes/trading/august/img/investment.svg" alt="flag usa" width="176" height="200") 



                        
                        
