.person-card
  picture.person-card__picture
    img.person-card__picture-img(
      src="wp-content/themes/trading/august/img/team-management-1.jpg" alt="Артём Сребный" width="273" height="273"
    )
  p.person-card__title Артём Сребный
  p.person-card__position Генеральный директор
