section.training-program(id="training-program")
  .training-program__inner.container
    h2.section-title Нам часто задают вопросы

    p.training-program__desc.training-program__desc_margin_lg Посмотрите ответы на самые часто-задаваемые вопросы и убедитесь, что команда TrendUP работает с любовью!

    .accordion.training-program__list.training-program_color_white
      .accordion-item.training-program__item.training-program_item-padding
        button.accordion-button.training-program__item-button(type="button" data-bs-toggle="collapse" data-bs-target="#training-1")
          span.training-program__item-info
            span.training-program__item-title Вы являетесь брокером?

          +icon("plus-circle", "training-program__item-plus-circle")

        .accordion-collapse.collapse.show(id="training-1")
          .accordion-body.training-program__item-body
            .training-program__block TrendUp не является брокером или его представителем, а также не рекламирует их. Платформа создана исключительно для общения инвесторов и обучения новичков путём проведения вебинаров и предоставления видеозаписей.

      .accordion-item.training-program__item.training-program_item-padding
        button.accordion-button.collapsed.training-program__item-button(type="button" data-bs-toggle="collapse" data-bs-target="#training-2")
          span.training-program__item-info
            span.training-program__item-title У преподавателей есть лицензии?

          +icon("plus-circle", "training-program__item-plus-circle")

        .accordion-collapse.collapse(id="training-2")
          .accordion-body.training-program__item-body
            .training-program__block Все наши эксперты аттестованы Центральным Банком Российской Федерации, и обладают аттестатами 1-го, 5-го, и 6- уровня квалификации.

      .accordion-item.training-program__item.training-program_item-padding
        button.accordion-button.collapsed.training-program__item-button(type="button" data-bs-toggle="collapse" data-bs-target="#training-3")
          span.training-program__item-info
            span.training-program__item-title Обучение платное или бесплатное?

          +icon("plus-circle", "training-program__item-plus-circle")

        .accordion-collapse.collapse(id="training-3")
          .accordion-body.training-program__item-body
            .training-program__block Обучение проводится как на платной, так и на бесплатной основе. Мы предоставляем гибкую систему оплат, благодаря которой, вы можете проходить курс и оплачивать уже с заработанных средств. Или оплатить полностью с любой карты или кошелька.

      .accordion-item.training-program__item.training-program_item-padding.training-program__item_hide
        button.accordion-button.collapsed.training-program__item-button(type="button" data-bs-toggle="collapse" data-bs-target="#training-4")
          span.training-program__item-info
            span.training-program__item-title Как проходит обучение?

          +icon("plus-circle", "training-program__item-plus-circle")

        .accordion-collapse.collapse(id="training-4")
          .accordion-body.training-program__item-body
            .training-program__block Обучение проходит в онлайн- формате. Все материалы вы получаете в записи и после приступаете к практике под руководством экспертов.  Все вопросы вы задаете куратору, и получаете оперативный ответ. Программа курса построена так, что вы проходите все уроки от А до Я и подтверждаете свои знания с помощью тестов. 

      .accordion-item.training-program__item.training-program_item-padding.training-program__item_hide
        button.accordion-button.collapsed.training-program__item-button(type="button" data-bs-toggle="collapse" data-bs-target="#training-5")
          span.training-program__item-info
            span.training-program__item-title Можно ли к вам приехать?

          +icon("plus-circle", "training-program__item-plus-circle")

        .accordion-collapse.collapse(id="training-5")
          .accordion-body.training-program__item-body
            .training-program__block Да, мы находимся по адресу г. Ростов-на-Дону, пр. Стачки 74/29. Действует предварительная запись, для этого оставьте заявку.

      .accordion-item.training-program__item.training-program_item-padding.training-program__item_hide
        button.accordion-button.collapsed.training-program__item-button(type="button" data-bs-toggle="collapse" data-bs-target="#training-6")
          span.training-program__item-info
            span.training-program__item-title Как с вами сотрудничать?

          +icon("plus-circle", "training-program__item-plus-circle")

        .accordion-collapse.collapse(id="training-6")
          .accordion-body.training-program__item-body
            .training-program__block Инвестиции сейчас одна из актуальных тем. Поэтому мы работаем дополнительно по партнерской программе.

      .accordion-item.training-program__item.training-program_item-padding.training-program__item_hide
        button.accordion-button.collapsed.training-program__item-button(type="button" data-bs-toggle="collapse" data-bs-target="#training-7")
          span.training-program__item-info
            span.training-program__item-title На каком рынке торгуете?

          +icon("plus-circle", "training-program__item-plus-circle")

        .accordion-collapse.collapse(id="training-7")
          .accordion-body.training-program__item-body
            .training-program__block Все торги проходят через Московскую Биржу, так как на ней есть возможность торговать все инструменты, которые доступны и на американском, и на российском рынке ценных бумаг.

      .accordion-item.training-program__item.training-program_item-padding.training-program__item_hide
        button.accordion-button.collapsed.training-program__item-button(type="button" data-bs-toggle="collapse" data-bs-target="#training-8")
          span.training-program__item-info
            span.training-program__item-title Через какую платформу торгуете?

          +icon("plus-circle", "training-program__item-plus-circle")

        .accordion-collapse.collapse(id="training-8")
          .accordion-body.training-program__item-body
            .training-program__block Мы торгуем через платформу QUIK, так как это один из надежных терминалов для торговли на Московской Бирже. Дополнительно для анализа инструментов, мы используем аналитическую платформу Atas.

      .accordion-item.training-program__item.training-program_item-padding.training-program__item_hide
        button.accordion-button.collapsed.training-program__item-button(type="button" data-bs-toggle="collapse" data-bs-target="#training-9")
          span.training-program__item-info
            span.training-program__item-title Нерезидент может работать с вами?

          +icon("plus-circle", "training-program__item-plus-circle")

        .accordion-collapse.collapse(id="training-9")
          .accordion-body.training-program__item-body
            .training-program__block Да, так как мы подготовили отдельные чек-листы, которые нужны для работы нерезидентам. Вам нужно будет сделать все согласно инструкции, и сможете приступить к торговле на бирже.

      .accordion-item.training-program__item.training-program_item-padding.training-program__item_hide
        button.accordion-button.collapsed.training-program__item-button(type="button" data-bs-toggle="collapse" data-bs-target="#training-10")
          span.training-program__item-info
            span.training-program__item-title Получу ли я сертификат?

          +icon("plus-circle", "training-program__item-plus-circle")

        .accordion-collapse.collapse(id="training-10")
          .accordion-body.training-program__item-body
            .training-program__block Сертификат предоставляем на любом формате курса, после успешного прохождения теории.

    button.training-program__show-more.btn-outline Смотреть полностью
