section.expert
  header.expert__header
    .container
      h2.expert__title Александр Поляков
      p.expert__activity Специалист в области инвестиций

      .expert__social-rating
        ul.social.expert__social
          include ../social/social
        include ../personal-rating/personal-rating

  .container
    .expert__content
      .expert__info
        h3.expert__info-title В двух словах о себе:

        .expert__info-desc
          p Трейдер с более чем 21-летним опытом, самый безопасный трейдер по версии Mojo Wall Street Warriors за 2006 год.
          p К 2003 году проделал путь от таксиста-эмигранта до управляющего партнера одной из крупнейших брокерских компаний США — Hold Brothers

        ul.expert__features
          li.expert__features-item
            p.expert__features-title 2005
            p.expert__features-subtitle Получил аттестацию ЦБ
            p.expert__features-desc Прошел аттестацию специалистов финансового рынка

          li.expert__features-item
            p.expert__features-title 2015
            p.expert__features-subtitle 10 лет практики
            p.expert__features-desc Ни одного задокументированного убыточного месяца
          li.expert__features-item

            p.expert__features-title 2020
            p.expert__features-subtitle Обучено 1000 учеников
            p.expert__features-desc Единственный тренер, который инвестирует личные деньги в своих учеников

      img.expert__photo(src="wp-content/themes/trading/august/img/expert/expert.jpg" alt="Александр Поляков" width="566" height="711")
