article.practice-card
  .practice-card__inner
    ul.practice-card__tags
      // .practice-card__tags-item_position_right - модификатор для смещения вправо
      li.practice-card__tags-item
        span.practice-card__tag Практика
      li.practice-card__tags-item.practice-card__tags-item_position_right
        | День 1

    h3.practice-card__title
      a.practice-card__title-link(href="#") ИНВЕСТИЦИИ. 8 часов торговли с трейдерами

    footer.practice-card__footer
      // Статус
      //- p.practice-card__status В эфире

      // Дата
      .practice-card__date
        p.practice-card__date-left 02
          span.practice-card__date-desc Июля
        .practice-card__date-line
        p.practice-card__date-right 16:30
          span.practice-card__date-desc По Москве

      // Описание
      //- p.practice-card__desc Смотреть в записи
