.account-navigation
  .account-navigation__container.container
    .account-navigation__slider.swiper-container
      ul.account-navigation__list.swiper-wrapper
        li.account-navigation__item.swiper-slide
          a.account-navigation__link.account-navigation__link_active(href="/account-personal.html") Личная информация
        li.account-navigation__item.swiper-slide
          a.account-navigation__link(href="/account-auth.html") Данные авторизации
        li.account-navigation__item.swiper-slide
          a.account-navigation__link(href="/account-alert.html") Оповещение
        li.account-navigation__item.swiper-slide
          a.account-navigation__link(href="/account-payment.html") Платежи
        li.account-navigation__item.swiper-slide
          a.account-navigation__link(href="/account-help.html") Помощь
