:root {
  --color-primary: #FF0010;
  --color-primary-second: #E3323D;
  --color-primary-dark: #CD1A1A;
  --color-primary-light: #FFE7E8;
  --color-primary-light-second: #FF0000;
  --color-dark-dark: #3A3849;
  --color-dark-gray: #8A8A8A;
  --color-dark-gray-second: #555555;
  --color-light-gray: #F1F1F1;
  --color-light-gray-second: #D3D3D3;
  --color-light-white: #A3A3A3;
  --color-light-green: #0CC7A5;

  --color-black: #000;
  --color-black-gray: #585858;
  --color-dark: #4E4E4E;
  --color-black-second: #353535;
  --color-gray: #6F6F6F;
  --color-white-gray: #E1E1E1;
  --color-smoke-white: #F3F3F3;
  --color-white: #FFFFFF;
  --color-blue: #0C84C7;
  --color-dusty-gray: #999999;

  --color-text: #2C2C2C;
  --color-link: #5199DB;
  --color-input: #C4C8DB;

  --color-light-blue: #00236A;
  --color-dark-blue: #161928;
  --color-black-blue: #171A2A;
  --color-gold: #FFAD4C;
  --color-red: #E30B17;

  --color-danger: #DE2B37;
  --color-success: #00C820;

  --color-focus: #5199DB;

  --bg-color-white: #ffffff;
  --bg-color-black: #0E0E0E;
  --bg-color-dark: #222222;
  --bg-color-page: #FBFBFB;
  --bg-color-page-admin: #F8F9FC;
}

html .bg-color {
  &-white {
    background-color: var(--bg-color-white);
  }
}

$color-blue: #18A0FB;
$color-yellow: #F0CA00;
$color-orange: #FB9318;
