section.wiki-breadcrumbs
    .container
        a.wiki-breadcrumbs__container
            img.wiki-breadcrumbs-arrow(src="wp-content/themes/trading/august/img/arrow-back.png")
            .wiki-breadcrumbs-back Вернуться к базе знаний
