article.webinar-card
  .webinar-card__inner.webinar-card__inner_size_sm
    ul.webinar-card__tags.webinar-card__tags_size_sm
      li.webinar-card__tags-item
        span.webinar-card__tag Инвестиции
      li.webinar-card__tags-item.webinar-card__tags-item_position_right
        span.webinar-card__status В эфире

    h3.webinar-card__title.webinar-card__title_size_sm
      a.webinar-card__title-link(href="#" target="_blank") Сколько зарабатывают россияне, которые мечтают улететь на Марс?

    a.webinar-card__master.webinar-card__master_size_sm(href="#" target="_blank")
      img.webinar-card__master-avatar(src="wp-content/themes/trading/august/img/webinar-card.jpg" alt="Александр Поляков" width="79" height="79")

      .webinar-card__master-info
        p.webinar-card__master-name Кожамниязов Ислам
        p.webinar-card__master-activity Специалист в области инвестиций
